/**
 * Flexible template admin CSS.
 */

.layout-flexible-region-top .label {
  display: inline-block;
  margin: 0;
  padding-block: 4px;
  padding-inline: 0 12px;
  line-height: 1.2;
  text-transform: uppercase;
  font-weight: normal;
  color: #000000;
}

.flexible-row .layout-editor-region {
  border: 1px solid #cccccc;
}

.flexible-row .layout-editor-region-title .label {
  font-size: 16px;
}

.layout--flexible .layout-editor-block {
  box-shadow: none;
  cursor: ns-resize;
}
.layout--flexible .layout-editor-block-title {
  padding: 0.4em 1em;
  margin-block: 0 0.9375rem;
  margin-inline: -0.9375rem;
}
.layout--flexible .layout-editor-block-title .text {
  font-weight: bold;
}
.layout--flexible .layout-editor-block-content p {
  color: #000000;
}

.layout-flexible-region-top .buttons {
  display: inline-block;
}

.layout-flexible-editor .flexible-row {
  padding: 0;
  border: 1px solid #cccccc;
  margin-block-end: 15px;
  border-radius: 4px;
  cursor: ns-resize;
  box-shadow: 2px 2px 0 0 #d0d0d0;
  background: #f7f7f7;
}

.layout-flexible-add-row {
  margin: 20px;
}

.flexible-icon {
  border: 2px solid #999999;
  border-radius: 3px;
  padding: 1px;
}
.flexible-icon-region {
  color: #ffffff;
  background: #cccccc;
  background-clip: content-box;
  text-align: center;
}

.l-content #layout-flexible-content {
  background: #ffffff;
}
