/* Layout listing form. */
#layout-list .layout-group td {
  background: #dddddd;
}
#layout-list .layout-group td:first-child {
  font-weight: bold;
}
#layout-list .layout-row td:first-child {
  padding-left: 24px;
}
#layout-list tr.disabled td {
  color: #999;
}

/* Individual layout settings form. */
.layout-settings-form .form-type-radios {
  width: 100%;
}
.layout-settings-form .layout-options .form-radios {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  line-height: 1.3;
  max-width: calc(100vw - 60px); /* Fix flex-wrap issue in some browsers */
}
.layout-settings-form .layout-options.no-flexbox .form-radios {
  display: block;
}
.layout-settings-form .layout-options .form-type-radio {
  width: 100px;
  margin: 0 5px 5px 0;
  padding: 0;
  text-align: center;
}
.layout-settings-form .layout-options.no-flexbox .form-type-radio {
  float: left;
}

/* Menu item argument settings. */
#layout-arguments strong,
#layout-context-table strong {
  text-decoration: underline;
}

#layout-context-table {
  width: auto;
}

/* Buttons that are displayed as links. */
.layout-access-remove,
.layout-access-configure {
  padding-left: 10px; /* LTR */
}
[dir="rtl"] .layout-access-remove,
[dir="rtl"] .layout-access-configure {
  padding-left: 0;
  padding-right: 10px;
}

/* Layout dialogs. */
.layout-dialog {
  max-width: 600px;
}
.layout-block-list {
  max-height: 300px;
  overflow: auto;
  padding-right: 5px; /* LTR */
}
[dir="rtl"] .layout-block-list {
  padding-right: 0;
  padding-left: 5px;
}
.layout-block-add-row.form-item {
  padding: 5px;
  border-bottom: 1px solid #CCC;
  margin: 0;
}
.layout-block-add-row.odd {
  background-color: #F3F4EE;
}
.layout-block-list-wrapper {
  border: 1px solid #CCC;
  border-bottom: none;
}

/* Layout editor. */
.layout-editor-region {
  min-height: 70px;
  margin: 0 0 15px;
  padding: 8px;
  border: 1px dashed #CCC;
  background: white;
}
.layout-editor-region-title .label {
  float: left;
  margin: 0 12px 0 0; /* LTR */
  padding: 4px 0;
  line-height: 1.2;
}
.layout-editor-region-content {
  min-height: 40px;
}
[dir="rtl"] .layout-editor-region-title .label {
  margin-right: 0;
  margin-left: 12px;
}
.layout-editor-region-title .dropbutton-wrapper {
  float: left;
  width: 200px;
  margin: 4px 0 10px
}
.layout-editor-region .dropbutton-wrapper a {
  display: inline-block;
  width: 100%;
  text-align: left;
}
.layout-editor-region .dropbutton-wrapper .ajax-progress {
  position: absolute;
  padding: 0.1em 0;
}
.ui-sortable .layout-editor-block {
  cursor: move;
}
.layout-editor-block {
  margin: -1px -1px 10px -1px;
  background: #FFF;
}
.layout-editor-block:last-child {
  margin-bottom: 0;
}
.layout-editor-block-title {
  border: 1px solid #CCC;
  background: #F3F4EE;
  padding: 0.4em 1em;
}
.layout-editor-block-title .text {
  font-size: 1.1em;
  line-height: 1.5;
  font-weight: bold;
}
.layout-editor-block-title .buttons {
  float: right; /* LTR */
  width: 120px;
}
[dir="rtl"] .layout-editor-block-title .buttons {
  float: left;
}
.layout-editor-block-content {
  border: 1px solid #CCC;
  border-top: none;
  border-bottom-width: 2px;
  padding: 0.4em 1em;
  min-height: 20px;
  font-size: 90%;
  line-height: 1.5;
}
.layout-editor-block-content p {
  margin: 0 0 12px;
}
.layout-editor-block-content p:last-child {
  margin: 0;
}
.layout-editor-block-content fieldset {
  border: none;
  margin: 0;
  padding-left: 0;
  padding-right: 0;
}
.layout-editor-block-content fieldset .fieldset-legend {
  margin-left: 0;
  margin-right: 0;
  padding-left: 0;
  padding-right: 0;
}
.layout-editor-block-content .item-list ul {
  margin: 0;
  padding: 0;
}
.layout-editor-block-content .item-list ul li {
  padding: 0;
  margin: 0 0 0 12px; /* LTR */
  list-style-type: disc;
}
[dir="rtl"] .layout-editor-block-content .item-list ul li {
  margin: 0 12px 0 0;
}
.layout-editor-placeholder {
  background-color: #EFEFEF;
}

/* Layout Misc */
#layout-edit h1 {
  margin: 1em 0 .6em;
}
.layout-access-list ul {
  margin: 1em 0px;
  padding: 0px 20px;
}
