/**
 * Styles for the Installer interfaces.
 */
.installer-manager-update-form .update-security.odd:not(:hover),
.block-dashboard-updates .update-security.odd:not(:hover) {
  background: #FFE0E0;
}
.installer-manager-update-form .update-security.even:not(:hover),
.block-dashboard-updates .update-security.even:not(:hover) {
  background: #FFC9C9;
}
.installer-manager-update-form .update-security:hover .update-type,
.block-dashboard-updates .update-security:hover .update-type {
  color: #EC351C;
}
.installer-manager-update-form .update-security:not(:hover),
.block-dashboard-updates .update-security:not(:hover) {
  color: #9C1D0D;
}

.checked .button {
  margin: 1em;
  vertical-align: middle;
}

.installer-browser-install-button-form {
  clear: both;
  margin: 10px 0 0;
}

.installer-browser-install-queue {
  margin: 5px 0 0;
}

.installer-browser-install-queue-item {
  margin: 5px 0;
}

.installer-browser-install-link {
  clear: both;
}

.installer-browser-install-queue-item a {
  padding-left: 22px;
  background: url("../images/remove.png") no-repeat scroll left 3px transparent;
}

.installer-browser-selected-release {
  display: none;
}

.installer-browser-show-releases-link {
  cursor: pointer;
}
.item-list .installer-browser-sort-list {
  margin: 0;
}
.installer-browser-sort-list li.first {
  margin: 0;
}
.installer-browser-sort-list li {
  display: block;
  margin: 0;
  list-style-image: none;
}
@media only screen and (min-width: 768px) {
  .installer-browser-sort-list li {
    display: inline-block;
    margin: 0 10px;
  }
}

.installer-browser-sort-list li a {
  color: #0074BD;
}

.installer-browser-sort-list li.sort-active a {
  color: #000;
}

.installer-browser-sort-list li.sort-header {
  font-weight: bold;
}

.installer-browser-sort-list li.sort-asc a {
  background: url("/core/misc/arrow-asc.png") no-repeat scroll right 2px transparent; /* LTR */
  padding-right: 17px; /* LTR */
}

.installer-browser-sort-list li.sort-desc a {
  background: url("/core/misc/arrow-desc.png") no-repeat scroll right 2px transparent; /* LTR */
  padding-right: 17px; /* LTR */
}
[dir="rtl"] .installer-browser-sort-list li.sort-asc a,
[dir="rtl"] .installer-browser-sort-list li.sort-desc a {
  background-position: left 2px;
  padding-right: 0;
  padding-left: 17px;
}

.project-extra {
  color: gray;
  clear: right; /* LTR */
  text-align: right; /* LTR */
}
[dir="rtl"] .project-extra {
  text-align: left;
  clear: left;
}

.project-status {
  text-align: right;
}

.project-install {
  text-align: right;
}
[dir="rtl"] .project-install {
  text-align: left;
}

.project-author {
  color: gray;
  font-size: 0.9em;
}

.project-updated {
  color: gray;
  font-size: 0.9em;
}

.project-page {
  font-size: 0.9em;
}

.installer-browser-main ul, .installer-browser-main ol {
  list-style-position: inside;
}

.project-item {
  clear: both;
  position: relative;
}
.project-item-first {
  clear: both;
  padding: 10px;
  position: relative;
}

.screenshot {
  margin: 0 0 5px 0;
  overflow: hidden;
}
.screenshot img {
  width: 100%;
  height: auto;
}
@media (min-width: 500px) {
  .screenshot {
    float: left; /* LTR */
    width: 133px;
    height: 100px;
    margin: 0;
  }
  [dir="rtl"] .screenshot {
    float: right;
  }
  .has-image .project-information {
    margin-left: 148px; /* LTR */
  }
  [dir="rtl"] .has-image .project-information {
    margin-right: 148px;
    margin-left: 0;
  }
}

.screenshot .placeholder {
  color: #fff;
  background-color: #c5c5c3;
  display: inline-block;
  text-align: center;
  width: 100%;
  height: 100%;
  font-size: 35px;
  line-height: 100px;
  float: left;
}

.project-dialog .screenshot {
  float: none;
  width: 100%;
  text-align: center;
  height: auto;
}
.project-dialog .screenshot img {
  width: 300px;
  height: auto;
}
.project-dialog .has-image .project-extra {
  text-align: center;
  clear: none;
  margin-top: 30px;
}
.project-dialog .has-image .project-install {
  text-align: center;
}

@media (min-width: 600px) {
  .project-dialog .screenshot {
    float: right;
    width: 300px;
    height: 186px;
  }
  .project-dialog .screenshot img {
    width: 100%;
    height: auto;
  }
  .project-dialog .has-image .project-extra {
    text-align: left;
  }
  .project-dialog .has-image .project-install {
    text-align: left;
  }
}

.install-disabled {
  color: gray;
}

.install-enabled {
  color: green;
}

/* Installer sidebar only shown on larger screens. */
.installer-browser-install-sidebar {
  display: none;
}
/* Larger screens show the progress steps when installing. */
@media only screen and (min-width: 768px) {
  .installer-browser-install-sidebar {
    display: block;
    float: left; /* LTR */
    width: 220px;
    box-sizing: border-box;
  }
  [dir="rtl"] .installer-browser-install-sidebar {
    float: right;
  }

  .installer-browser-install-main {
    padding: 0 20px;
    margin-left: 240px; /* LTR */
    box-sizing: border-box;
  }
  [dir="rtl"] .installer-browser-install-main {
    margin-left: 0;
    margin-right: 240px;
  }
}

#installer-browser-manual-install-link {
  text-align: center;
}

.project-dialog .project-dialog-header {
  text-align: center;
}
@media (min-width: 600px) {
  .project-dialog .project-dialog-header {
    text-align: left;
  }
}

.project-title {
  font-size: 18px;
  margin-bottom: 10px;
}

.project-dialog .project-title {
  font-size: 1.385em;
  font-weight: bold;
}

.installer-browser-main div.form-item-install {
  float: right; /* LTR */
}
[dir="rtl"] .installer-browser-main .form-item-install {
  float: left;
}

.installer-browser .installer-browser-region {
  min-height: 1px;
}

.installer-browser .installer-browser-block {
  margin-bottom: 20px;
  background-color: #fff;
}

.installer-browser .installer-browser-region .installer-browser-block {
  clear: both;
}

.installer-browser .installer-browser-block h2 {
  float: none;
  font-size: 1em;
  margin: 0;
  padding: 10px;
  background: none repeat scroll 0 0 #e9e8e8;
}
.installer-browser .installer-browser-list-sidebar .installer-browser-block .content {
  padding: 5px 10px;
}

.ui-dialog.project-dialog {
  max-width:95%;
}

.project-dialog-description {
  margin-top: 1em;
  border-top: 1px solid #ccc;
  margin-bottom: 1em;
}

.project-dialog-info {
  float: left; /* LTR */
  max-width: 45%;
}
[dir="rtl"] .project-dialog-info {
  float: right;
}

.project-dialog .project-status {
  position: relative;
  right: 0; /* LTR */
}
[dir="rtl"] .project-dialog .project-status {
  left: 0;
  right: auto;
}
.project-dialog .project-item {
  border: none;
}

.installer-installed-theme img {
  max-width: 300px;
}

th.installer-project-name {
  width: 50%;
}

.installer-status-count-link {
  display: inline;
  float: right;
}
.installer-browser-filters-form {
  display: inline-block;
}
.installer-browser-filters-form .form-item-search-text {
  display: inline-block;
  margin-right: 10px; /* LTR */
}
[dir="rtl"] .installer-browser-filters-form .form-item-search-text {
  margin-right: 0;
  margin-left: 10px;
}

.installer-browser-sort {
  display: block;
}
@media only screen and (min-width: 768px) {
  .installer-browser-sort {
    display: inline-block;
    vertical-align: middle;
  }
  .installer-browser .installer-browser-main {
    width: 75%;
    float: left; /* LTR */
    margin-right: 1%;
  }
  [dir="rtl"] .installer-browser .installer-browser-main {
    float: right;
    margin-right: 0;
    margin-left: 1%;
  }

  .installer-browser .installer-browser-list-sidebar {
    width: 23%;
    float: right; /* LTR */
  }
  [dir="rtl"] .installer-browser .installer-browser-list-sidebar {
    float: left; /* LTR */
  }

  .project-status {
    position: absolute;
    right: 10px; /* LTR */
    text-align: right; /* LTR */
    top: 5px;
  }
  [dir="rtl"] .project-status {
    right: auto;
    left: 10px;
    text-align: left;
  }
}
