/**
 * The .seven.css file is intended to contain styles that override declarations
 * in the Seven admin theme.
 */

/* @group Content */

.page-admin-structure-views #content .views-ui-display-tab-bucket h1,
.page-admin-structure-views #content .views-ui-display-tab-bucket h2,
.page-admin-structure-views #content .views-ui-display-tab-bucket h3,
.page-admin-structure-views #content .views-ui-display-tab-bucket h4,
.page-admin-structure-views #content .views-ui-display-tab-bucket h5 {
  margin-bottom: 0;
  margin-top: 0;
}

/* @end */

/* @group Forms */

.page-admin-structure-views #content fieldset {
  padding: 0;
}

.page-admin-structure-views #content .fieldset-wrapper {
  padding: 10px 12px 12px;
}

.page-admin-structure-views #content fieldset.box-padding .fieldset-wrapper {
  padding: 0;
}

.page-admin-structure-views #content legend + .fieldset-wrapper {
  padding-top: 2.5em;
}

.page-admin-structure-views #content .form-submit,
.page-admin-structure-views #content a.button {
  margin-bottom: 0;
  margin-right: 0; /* LTR */
  margin-top: 0;
}

/* Override for a button on the edit display screen */
.page-admin-structure-views #edit-displays-preview-controls .form-submit {
  display: inline-block;
  margin-right: 1em;
}

.page-admin-structure-views #content .form-item {
  margin-bottom: 0;
  padding-bottom: 0;
  padding-top: 0;
}

.page-admin-structure-views #content .form-actions {
  margin-bottom: 0;
  margin-top: 0;
}

/* @end */

/* @group Lists */

.page-admin-structure-views #content ul.secondary,
.page-admin-structure-views #content .item-list ul {
  margin: 0;
  padding: 0;
}

.page-admin-structure-views #content .links li {
  padding-right: 0; /* LTR */
}

.page-admin-structure-views #content ul.action-links {
  padding-left: 0;
  padding-right: 0;
}

/* @end */

/* @group Rearrange filter criteria */

#views-ui-rearrange-filter-form table {
  border: medium none;
}

#views-ui-rearrange-filter-form [id^="views-row"] {
  border: medium none;
}

#views-ui-rearrange-filter-form tr td:last-child {
  border-right: medium none;
}

#views-ui-rearrange-filter-form .filter-group-operator-row {
  border-left: 1px solid transparent !important;
  border-right: 1px solid transparent !important;
}

#views-ui-rearrange-filter-form tr.drag td {
  background-color: #FFEE77 !important;
}

#views-ui-rearrange-filter-form tr.drag-previous td {
  background-color: #FFFFBB !important;
}

/* @end */

/* @group Attachments */

.page-admin-structure-views #content .views-displays .secondary {
  text-align: left; /* LTR */
}

.page-admin-structure-views #content .views-displays .secondary > li {
  padding-left: 0;
}

/* @end */

.form-item {
  padding: 0 !important;
}

#edit-options-value {
  width: 190px;
  overflow: auto;
  max-height: 210px;
  border-color: #CCCCCC;
  border-style: solid;
  border-width: 1px;
}
