/* @group Content */

.page-admin-structure-views #content .form-wrapper h1,
.page-admin-structure-views #content .form-wrapper h2,
.page-admin-structure-views #content .form-wrapper h3,
.page-admin-structure-views #content .form-wrapper h4,
.page-admin-structure-views #content .form-wrapper h5 {
  margin-bottom: 0;
  margin-top: 0;
}

/* @end */

/* @group Forms */

.page-admin-structure-views #content fieldset {
  padding: 0;
}

.page-admin-structure-views #content .fieldset-wrapper {
  padding: 10px 12px 12px;
}

.page-admin-structure-views #content legend + .fieldset-wrapper {
  padding-top: 2.5em;
}

.page-admin-structure-views #content .form-submit,
.page-admin-structure-views #content a.button {
  margin-bottom: 0;
  margin-right: 0;
}

.page-admin-structure-views #content .form-item {
  margin-bottom: 0;
  padding-bottom: 0;
  padding-top: 0;
}

.page-admin-structure-views #content .form-actions {
  margin-bottom: 0;
  margin-top: 0;
}

/* @end */

/* @group Lists */

.page-admin-structure-views #content ul.secondary,
.page-admin-structure-views #content .item-list ul {
  margin: 0;
  padding: 0;
}

.page-admin-structure-views #content .links li {
  padding-right: 0;
}

.page-admin-structure-views #content ul.action-links {
  padding-left: 0;
  padding-right: 0;
}

/* @end */

/* @group Stuff */

.page-admin-structure-views #content .views-displays .secondary {
  text-align: left;
}

.page-admin-structure-views #content .views-displays .secondary > li {
  padding-left: 0;
}

/* @end */