/**
 * The .seven.css file is intended to contain styles that override declarations
 * in the Seven admin theme.
 */

/* @group Content */

.views-ui-display-tab-bucket h1,
.views-ui-display-tab-bucket h2,
.views-ui-display-tab-bucket h3,
.views-ui-display-tab-bucket h4,
.views-ui-display-tab-bucket h5 {
  margin-bottom: 0;
  margin-top: 0;
}

/* @end */

/* @group Forms */

fieldset {
  padding-top: 0;
}

fieldset fieldset {
  border: medium none;
}

.views-display-tab fieldset {
  padding: 0 12px;
}

.views-display-tab .fieldset-wrapper {
  padding: 10px 12px 12px;
}

.views-display-tab fieldset.box-padding .fieldset-wrapper {
  padding: 0;
}

.views-display-tab legend + .fieldset-wrapper {
  padding-top: 2.5em;
}

.views-admin input.form-submit,
.views-ui-dialog input.form-submit,
.views-admin a.button,
.views-ui-dialog a.button {
  margin-bottom: 0;
  margin-right: 0; /* LTR */
  margin-top: 0;
}

/* Override for a button on the edit display screen */
#edit-displays-preview-controls .form-submit {
  display: inline-block;
  margin-right: 1em;
}

/* Override for filter button on the views list screen */
#ctools-export-ui-list-form .form-submit {
  margin-top: 1.3em;
}

.form-item {
  margin-bottom: 0;
  margin-top: 15px;
  padding-bottom: 0;
  padding-top: 0;
}

.form-actions {
  margin-bottom: 0;
  margin-top: 0;
}
 
.form-item .form-item {
  padding-bottom: 0;
  padding-top: 0;
}

/* @end */

/* @group Lists */

.views-admin ul.secondary,
.views-admin .item-list ul {
  margin: 0;
  padding: 0;
}

.views-admin ul.secondary {
  clear: none;
}

.views-displays ul.secondary li a {
  padding: 2px 7px 3px;
}

.views-admin .links li {
  padding-right: 0; /* LTR */
}

.views-admin .button .links li {
  padding-right: 12px; /* LTR */
}

.page-admin-structure-views #content ul.action-links {
  padding-left: 0;
  padding-right: 0;
}

.views-display-top ul.secondary {
  background-color: transparent;
}

/* @end */

/* @group Buttons */

.ctools-button ul {
  margin: 0;
}

/* Override for input elements that are themed like ctools-buttons */
.ctools-button input.form-submit:active {
  background: none;
  border: medium none;
  color: #0074BD;
  text-shadow: none;
}

/* @end */

/* @group Tables */

table td, 
table th {
  vertical-align: top;
}

/* @end */

/* @group Attachment buckets
 *
 * These are the individual "buckets," or boxes, inside the display settings area
 */

.views-ui-display-tab-bucket .links {
  padding: 2px 6px 4px;
}

.views-ui-display-tab-bucket .links li + li {
  margin-left: 3px;
}

/* @end */

/* @group Rearrange filter criteria */

#views-ui-rearrange-filter-form .action-links {
  margin: 0;
  padding: 0;
}

#views-ui-rearrange-filter-form table {
  border: medium none;
}

#views-ui-rearrange-filter-form [id^="views-row"] {
  border: medium none;
}

#views-ui-rearrange-filter-form tr td:last-child {
  border-right: medium none;
}

#views-ui-rearrange-filter-form .filter-group-operator-row {
  border-left: 1px solid transparent !important;
  border-right: 1px solid transparent !important;
}

#views-ui-rearrange-filter-form tr.drag td {
  background-color: #FFEE77 !important;
}

#views-ui-rearrange-filter-form tr.drag-previous td {
  background-color: #FFFFBB !important;
}

/* @end */

/* @group Attachments */

.views-displays .secondary {
  text-align: left; /* LTR */
}

.views-displays .secondary > li:first-child {
  padding-left: 0;
}

/* @end */
