/* @group Buttons */

.ctools-button {
  background-color: #ffffff;
  background-image:
    -moz-linear-gradient(
      -90deg,
      #ffffff 0px,
      #f9f9f9 100%);
  background-image:
    -webkit-gradient(
      linear,
      left top,
      left bottom,
      color-stop(0.0, rgba(255, 255, 255, 1.0)),
      color-stop(1.0, rgba(249, 249, 249, 1.0))
    );
  background-image:
    -webkit-linear-gradient(
      -90deg,
      #ffffff 0px,
      #f9f9f9 100%);
  background-image:
    linear-gradient(
      -90deg,
      #ffffff 0px,
      #f9f9f9 100%);
  border-color: #cccccc;
  -moz-border-radius: 11px 11px 11px 11px;
  -webkit-border-radius: 11px 11px 11px 11px;
  border-radius: 11px 11px 11px 11px;
  font-size: 12px;
  padding-bottom: 1px;
  padding-top: 2px;
}

.ctools-button:hover {
  background-image:
    -moz-linear-gradient(
      -90deg,
      #ffffff 0px,
      #f1f1f1 100%);
  background-image:
    -webkit-gradient(
      linear,
      left top,
      left bottom,
      color-stop(0.0, rgba(255, 255, 255, 1.0)),
      color-stop(1.0, rgba(241, 241, 241, 1.0))
    );
  background-image:
    -webkit-linear-gradient(
      -90deg,
      #ffffff 0px,
      #f1f1f1 100%);
  background-image:
    linear-gradient(
      -90deg,
      #ffffff 0px,
      #f1f1f1 100%);
  border-color: #b8b8b8;
}

.ctools-button:active {
  border-color: #a0a0a0;
}

.ctools-button .ctools-content {
  padding-bottom: 0;
  padding-top: 0;
}

.ctools-dropbutton .ctools-content {
  border-right: 1px solid #e8e8e8;
}

.ctools-button .ctools-content a {
  background-image: none;
  border: medium none;
}

.ctools-dropbutton.open:hover {
  background-image:
    -moz-linear-gradient(
      -90deg,
      #ffffff 0px,
      #f9f9f9 100%);
  background-image:
    -webkit-gradient(
      linear,
      left top,
      left bottom,
      color-stop(0.0, rgba(255, 255, 255, 1.0)),
      color-stop(1.0, rgba(249, 249, 249, 1.0))
    );
  background-image:
    -webkit-linear-gradient(
      -90deg,
      #ffffff 0px,
      #f9f9f9 100%);
  background-image:
    linear-gradient(
      -90deg,
      #ffffff 0px,
      #f9f9f9 100%);
  border-color: #D0D0D0;
}

.ctools-dropbutton.open {
  -moz-box-shadow: 1px 1px 2px rgba(0,0,0,0.25);
  -webkit-box-shadow: 1px 1px 2px rgba(0,0,0,0.25);
  box-shadow: 1px 1px 2px rgba(0,0,0,0.25);
  z-index: 100;
}

.ctools-dropbutton .ctools-link {
  border-left: 1px solid #ffffff;
}

.ctools-dropbutton.open .ctools-content {
    padding-bottom: 4px;
}

.ctools-dropbutton.open li + li {
  border-top: 1px solid #efefef;
  margin-top: 4px;
  padding-bottom: 0;
  padding-top: 4px;
}

/* @end */

/* @group Collapsible */

.ctools-toggle {
  border-bottom-color: transparent;
  border-left-color: transparent;
  border-right-color: transparent;
  border-style: solid;
  border-width: 5px 5px 0;
  display: inline-block;
  float: left;
  height: 0;
  margin-right: 2px;
  margin-top: 0.6667em;
  width: 0;
}

.ctools-toggle.ctools-toggle-collapsed {
  border-bottom-color: transparent;
  border-left:  4px solid;
  border-right-color: transparent;
  border-top-color: transparent;
  border-width: 5px 0 5px 5px;
  margin-left: 2px;
  margin-right: 5px;
  margin-top: 0.5em;
}

.ctools-toggle:hover,
.ctools-collapsible-handle:hover {
  cursor: pointer;
}

.ctools-export-ui-row {
  margin-bottom: 5px;
}

.ctools-export-ui-row label {
  display: block;
  float: left;
  width: 55px;
}

.views-display-top .ctools-button {
  font-size: 13px;
  position: absolute;
  right: 12px;
  top: 7px;
}

.views-display-settings .ctools-toggle {
  color: #008BCB;
}

.views-ui-display-tab-bucket .ctools-button {
  position: absolute;
}

.views-ui-display-tab-bucket .ctools-button {
  right: 5px;
  top: 4px;
}

/* @end */

/* @group Export */

.ctools-export-ui-fourth-row input {
  margin-top: 5px !important;
}

/* @end */

/* @group Jump list */

#views-live-preview .ctools-jump-menu-select{
  max-width: 450px;
}

/* @end */
