/**
 * The .theme.css file is intended to contain presentation declarations including
 * images, borders, colors, and fonts.
 */

/* @group Reset */

.views-admin .links {
  list-style: none outside none;
  margin: 0;
}

.views-admin a:hover {
  text-decoration: none;
}

/* @end */

/* @group Icons */

.views-admin .icon,
.views-admin .icon-text {
  background-attachment: scroll;
  background-image: url("../images/sprites.png");
  background-position: left top; /* LTR */
  background-repeat: no-repeat;
}

/* Targets a <span> element. This assumes no visible text from the span. */
.views-admin .icon {
  display: inline-block;
  height: 12px;
  position: relative;
  width: 16px;
} 

/* Targets any element with an icon -> text combo */
.views-admin .icon-text {
  padding-left: 19px; /* LTR */
}

.views-admin .icon-linked {
  background-position: left -153px; /* LTR */
}

.views-admin .icon-unlinked {
  background-position: left -195px; /* LTR */
}

.views-displays .icon-add {
  background-position: left -3px; /* LTR */
}

.views-displays .secondary a:hover > .icon-add {
  background-position: left -21px; /* LTR */
}

.views-displays .secondary .open a:hover > .icon-add {
  background-position: left -3px; /* LTR */
}

/* @end */

/* @group Forms */

fieldset.box-padding {
  border: none;
}

input.form-checkbox, 
input.form-radio {
  vertical-align: baseline;
}

.form-submit + .form-submit,
.views-admin a.button + a.button {
  margin-left: 1em; /* LTR */
}

.fieldset-wrapper > * + *,
.form-wrapper > * + * {
  margin-top: 18px;
}

.container-inline > * + *,
.container-inline .fieldset-wrapper > * + * {
  padding-left: 4pt; /* LTR */
}

.form-type-checkbox + .form-wrapper {
  margin-left: 16px;
}

/* Hide 'remove' checkboxes. This might be scoped too widely. */
[class*="form-type-checkbox"][class*="remove"] {
  display: none;
}

/* sizes the labels of checkboxes and radio button to the height of the text */
.form-type-checkbox label,
.form-type-radio label {
  line-height: 2;
}

/* @end */

/* @group Lists */

.horizontal > * + * {
  margin-left: 9px; /* LTR */
  padding-left: 9px; /* LTR */
}

.views-ui-view-title {
  font-weight: bold;
}

.ctools-export-ui-row {
  margin-bottom: 5px;
}

.ctools-export-ui-row label {
  display: block;
  float: left;
  width: 55px;
}

.ctools-export-ui-fourth-row input {
  margin-top: 5px !important;
}

/* @end */

/* @group Messages */

.view-changed {
  margin-bottom: 21px;
}

/* @end */

/* @group Headings */

.views-admin h1 {
  font-size: 15px;
  line-height: 1.6154;
  margin-bottom: 0;
  margin-top: 18px;
}

/* @end */

/* @group Attachments */

.views-displays {
  border: 1px solid #CCC;
  padding-bottom: 18px;
}

.views-alt-ui-view-displays,
.views-alt-ui-view-paths,
.views-alt-ui-view-description {
  font-size: 0.9167em; /* 11px/12px */
  line-height: 1.5em;
}

.views-displays .secondary {
  background-color: #F9F9F9;
}

.views-displays .views-display-top {
  background-color: #F9F9F9;
  border-bottom: 1px solid #CCCCCC;
  margin-bottom: 14px;
  padding: 8px 8px 6px; /* LTR */
}

.views-displays .views-extra-actions {
  
}

.views-displays .secondary > li + li {
  margin-left: 3px; /* LTR */
}

/* @end */

/* @group Attachment details tabs
 *
 * The tabs that switch between sections
 */

.views-displays .secondary a {
  background-color: #f1f1f1;
  border: 1px solid #cbcbcb;
  -moz-border-radius: 7px;
  -webkit-border-radius: 7px;
  border-radius: 7px;
  color: #008BCB;
  display: inline-block;
  padding: 2px 7px 3px;
}

.views-displays .secondary a:focus {
  outline: none;
}

.views-displays .secondary a:hover,
.views-displays .secondary .active a {
  background-color: #666666;
  color: #ffffff;
}

.views-displays .secondary .open > a {
  -moz-border-radius: 7px 7px 0 0;
  -webkit-border-radius: 7px 7px 0 0;
  border-radius: 7px 7px 0 0;
  border-bottom: 1px solid transparent;
  position: relative;
}

.views-displays .secondary .open > a:hover {
  background-color: #f1f1f1;
  color: #008BCB;
}

.views-displays .secondary .action-list  li {
  background-color: #f1f1f1;
  border-color: #cbcbcb;
  border-style: solid;
  border-width: 0 1px;
  padding: 2px 9px;
}

.views-displays .secondary .action-list  li:first-child {
  -moz-border-radius: 0 7px 0 0;
  -webkit-border-radius: 0 7px 0 0;
  border-radius: 0 7px 0 0;
  border-width: 1px 1px 0;
}

.views-displays .secondary .action-list  li.last {
  border-width: 0 1px 1px;
}

.views-displays .secondary .action-list  li:last-child {
  -moz-border-radius: 0 0 7px 7px;
  -webkit-border-radius: 0 0 7px 7px;
  border-radius: 0 0 7px 7px;
  border-width: 0 1px 1px;
}

.views-displays .secondary .action-list input.form-submit,
.views-display-tab input.form-submit {
  background: none repeat scroll 0 0 transparent;
  border: medium none;
  -moz-border-radius: 0;
  -webkit-border-radius: 0;
  border-radius: 0;
  color: #008BCB;
  padding: 0;
}

.views-displays .secondary .action-list li:hover {
  background-color: #dddddd;
}

/* @end */

/* @group Attachment details collapsible fieldset
 *
 * The attachment details section is a collapsible fieldset, but should not
 * have a border around it.
 */

.views-display-tab .fieldset-legend {
  text-transform: none;
  font-size: 14px;
  left: -5px; /* LTR */
}

/* @end */

/* @group Attachment columns
 *
 * The columns that contain the option buckets e.g. Format and Basic Settings
 */

.views-display-columns > * + * {
   margin-top: 0;
 }

 /* @end */

/* @group Auto preview
 *
 * The auto-preview checkbox line. This may have more stuff added to it.
 */

input.arguments-preview {
  margin-left: 10px;
  margin-right: -5px;
}

div.form-item-displays-live-preview {
  text-align: right; /* LTR */
  margin: 0 12px;
  padding-bottom: 12px;
}

.views-query-info {
  margin: 12px 0;
}

/* @end */

/* @group Attachment buckets
 *
 * These are the individual "buckets," or boxes, inside the three columns in the
 * attachment details section.
 */

.views-ui-display-tab-bucket {
  border: 1px solid #f3f3f3;
  line-height: 20px;
  margin: 0;
  padding-top: 4px;
}

.views-ui-display-tab-bucket + .views-ui-display-tab-bucket {
  border-top: medium none;
}

.views-ui-display-tab-bucket h3 {
  font-size: 12px;
  text-transform: uppercase;
}

.views-ui-display-tab-bucket > * {
  padding: 2px 6px 4px;
}

.views-ui-display-tab-bucket .icon-text {
  padding-left: 25px; /* LTR */
}

.views-ui-display-tab-bucket .icon-linked {
  background-position: 6px -151px;
}

.views-ui-display-tab-bucket .icon-unlinked {
  background-position: 6px -193px;
}

.views-ui-display-tab-bucket > .actions * + * {
  margin-left: 3px; /* LTR */
  padding-left: 3px; /* LTR */
}

/* @end */

/* @group Attachment bucket rows
 *
 * This is each row within one of the "boxes."
 */

.views-ui-display-tab-bucket .views-display-setting {
  color: #666666;
  font-size: 12px;
  padding-bottom: 2px;
}

.views-ui-display-tab-bucket .even {
  background-color: #f9f9f9;
}

.views-ui-display-tab-bucket .views-group-text {
  margin-top: 6px;
  margin-bottom: 6px;
}

.views-display-setting .label {
  margin-right: 3pt; /* LTR */
}

/* @end */

/* @group Preview
 *
 * The preview controls and the preview pane
 */

#edit-displays-preview-controls .fieldset-wrapper > * {
  float: left;
}

#edit-displays-preview-controls .fieldset-wrapper > .form-item {
  margin-top: 0.3333em;
}

#edit-displays-preview-controls .form-submit {
  display: inline-block;
  margin-right: 1em;
}

#edit-displays-preview-controls .form-type-textfield {
  margin-left: 1em;
  position: relative;
}

#edit-displays-preview-controls .form-type-textfield label {
  border-left: 1px solid #999;
  padding-left: 1em;
  position: absolute;
}

#edit-displays-preview-controls .form-type-textfield label:after {
  content: ":";
}

#edit-displays-preview-controls .form-type-textfield label ~ * {
  margin-left: 10em;
}

/* @end */

/* @group Modal dialog box
 *
 * The contents of the popup dialog on the views edit form.
 */

.views-ui-dialog {
  padding: 0;
}

.views-filterable-options .form-type-checkbox {
  border: 1px solid #CCC;
  padding: 5px 8px;
  border-top: none;
}

.views-filterable-options {
  border-top:  1px solid #CCC;
}

.views-filterable-options .even .form-type-checkbox {
  background-color: #F3F4EE;
}

.views-filterable-options .form-type-checkbox .description {
  margin-top: 0;
  margin-bottom: 0;
}

#views-filterable-options-controls {
  margin: 1em 0;
}

#views-filterable-options-controls .form-item {
  width: 45%;
  margin-right: 2%; /* LTR */
}

#views-filterable-options-controls input,
#views-filterable-options-controls select {
  width: 200px;
}

.views-ui-dialog .views-filterable-options {
  margin-bottom: 10px;
}

.views-ui-dialog .views-add-form-selected {
  margin: 5px 16px;
}

.views-ui-dialog #views-ajax-title,
.views-ui-dialog .views-override {
  background-color: #F3F4EE;
}

.views-ui-dialog .views-override {
  padding: 8px 13px;
}

.views-ui-dialog .views-override > * {
  margin: 0;
}

.views-ui-dialog #views-ajax-title {
  font-size: 15px;
  padding: 8px 13px;
}

.views-ui-dialog #views-progress-indicator {
  font-size: 11px;
  position: absolute;
  right: 10px; /* LTR */
  top: 8px;
}

.views-ui-dialog #views-progress-indicator:before {
  content: "\003C\00A0";
}

.views-ui-dialog #views-progress-indicator:after {
  content: "\00A0\003E";
}

.views-ui-dialog .scroll {
  border: 1px solid #CCC;
  border-width: 1px 0;
  padding: 8px 13px;
}

.views-ui-dialog .form-buttons {
  background-color: #F3F4EE;
  padding: 8px 13px;
}
.views-ui-dialog .form-buttons input {
  margin-bottom: 0;
}

/* @end */

/* @group Configure filter criteria */

/* @todo the width and border info could be moved into a more generic class */
#edit-options-value {
  border-color: #CCCCCC;
  border-style: solid;
  border-width: 1px;
  max-height: 210px;
  overflow: auto;
  padding: 0 0 0 2px;
  width: 190px;
}

/* @end */

/* @group Rearrange filter criteria */

#views-ui-rearrange-filter-form table {
  border-collapse: collapse;
}

#views-ui-rearrange-filter-form tr td[rowspan] {
  border-color: #CDCDCD;
  border-style: solid;
  border-width: 0 1px 1px 1px;
}

#views-ui-rearrange-filter-form tr[id^="views-row"] {
  border-right: 1px solid #CDCDCD;
}

#views-ui-rearrange-filter-form tr[id^="views-row"].even td {
  background-color: #F3F4ED;
}

#views-ui-rearrange-filter-form .views-group-title {
  border-top: 1px solid #CDCDCD;
}

#views-ui-rearrange-filter-form .group-empty {
  border-bottom: 1px solid #CDCDCD;
}

/* @end */

/* @group Live preview elements */

/**
 * Create a horizontal rule above the live preview area.
 */
#views-live-preview {
  border-top: 3px solid #CCC;
  margin: 0 12px;
}

#views-live-preview a,
#views-live-preview a:link,
#views-live-preview a:visited {
  color: #000000;
}

#views-live-preview .views-row {
  border: 1px dashed #DEDEDE;
  padding: 6px;
}

#views-live-preview .views_ui_view_preview_section_title + *,
#views-live-preview li.views-row + li.views-row {
  margin-top: 18px;
}

/* The div.views-row is intentional and excludes li.views-row, for example */
#views-live-preview div.views-row + div.views-row {
  margin-top: 36px;
}

/* @group Grid */

#views-live-preview .views-view-grid th,
#views-live-preview .views-view-grid td {
  vertical-align: top;
}

/* @end */

/* @group HTML list */

#views-live-preview .view-content > .item-list > ul {
  list-style-position: outside;
  padding-left: 21px; /* LTR */
}

/* @end */

/* @group Jump list */

#views-live-preview .ctools-jump-menu-select{
  max-width: 450px;
}

/* @end */

/* @end */
