/**
 * The .theme.css file is intended to contain presentation declarations including
 * images, borders, colors, and fonts.
 */

/* @group Reset */

.views-admin .links {
  list-style: none outside none;
  margin: 0;
}

.views-admin a:hover {
  text-decoration: none;
}

/* @end */

/* @group Layout */

.box-padding {
  padding-left: 12px;
  padding-right: 12px;
}

.box-margin {
  margin-left: 12px;
  margin-right: 12px;
}

/* @end */

/* @group Icons */

.views-admin .icon {
  height: 16px;
  width: 16px;
}

.views-admin .icon,
.views-admin .icon-text {
  background-attachment: scroll;
  background-image: url("../images/sprites.png");
  background-position: left top; /* LTR */
  background-repeat: no-repeat;
}

.views-admin a.icon {
  background-image:
    url("../images/sprites.png"),
    -moz-linear-gradient(
      -90deg,
      #ffffff 0px,
      #e8e8e8 100%);
  background-image:
    url("../images/sprites.png"),
    -webkit-gradient(
      linear,
      left top,
      left bottom,
      color-stop(0.0, rgba(255, 255, 255, 1.0)),
      color-stop(1.0, rgba(232, 232, 232, 1.0))
    );
  background-image:
    url("../images/sprites.png"),
    -webkit-linear-gradient(
      -90deg,
      #ffffff 0px,
      #e8e8e8 100%);
  background-repeat: no-repeat, repeat-y;
  border: 1px solid #dddddd;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  -moz-box-shadow: 0 0 0 rgba(0,0,0,0.3333) inset;
  -webkit-box-shadow: 0 0 0 rgba(0,0,0,0.3333) inset;
  box-shadow: 0 0 0 rgba(0,0,0,0.3333) inset;
}

.views-admin a.icon:hover {
  border-color: #d0d0d0;
  -moz-box-shadow: 0 0 1px rgba(0,0,0,0.3333) inset;
  -webkit-box-shadow: 0 0 1px rgba(0,0,0,0.3333) inset;
  box-shadow: 0 0 1px rgba(0,0,0,0.3333) inset;
}

.views-admin a.icon:active {
  border-color: #c0c0c0;
}

/**
 * Targets a <span> element inside an <a> element.
 * This assumes no visible text from the span.
 */
.views-admin span.icon {
  display: inline-block;
  float: left;
  position: relative;
}

.views-admin .icon.compact {
  display: block;
  overflow: hidden;
  text-indent: -9999px;
}

/* Targets any element with an icon -> text combo */
.views-admin .icon-text {
  padding-left: 19px; /* LTR */
}

.views-admin .icon.linked {
  background-position: center -153px;
}

.views-admin .icon.unlinked {
  background-position: center -195px;
}

.views-admin .icon.add {
  background-position: center 3px, left top;
}

.views-admin .icon.delete {
  background-position: center -52px, left top;
}

.views-admin .icon.rearrange {
  background-position: center -111px, left top;
}

.views-displays .secondary a:hover > .icon.add {
  background-position: center -25px;
}

.views-displays .secondary .open a:hover > .icon.add {
  background-position: center 3px;
}

/* @end */

/* @group Buttons */

.ctools-button {
  background-color: #ffffff;
  background-image:
    -moz-linear-gradient(
      -90deg,
      #ffffff 0px,
      #efefef 100%);
  background-image:
    -webkit-gradient(
      linear,
      left top,
      left bottom,
      color-stop(0.0, rgba(255, 255, 255, 1.0)),
      color-stop(1.0, rgba(242, 242, 242, 1.0))
    );
  background-image:
    -webkit-linear-gradient(
      -90deg,
      #ffffff 0px,
      #efefef 100%);
  border-color: #D0D0D0;
  -moz-border-radius: 7px 7px 7px 7px;
  -webkit-border-radius: 7px 7px 7px 7px;
  border-radius: 7px 7px 7px 7px;
  font-size: 12px;
}

.ctools-button:hover {
  background-image:
    -moz-linear-gradient(
      -90deg,
      #ffffff 0px,
      #e6e6e6 100%);
  background-image:
    -webkit-gradient(
      linear,
      left top,
      left bottom,
      color-stop(0.0, rgba(255, 255, 255, 1.0)),
      color-stop(1.0, rgba(230, 230, 230, 1.0))
    );
  background-image:
    -webkit-linear-gradient(
      -90deg,
      #ffffff 0px,
      #e6e6e6 100%);
  border-color: #b8b8b8;
}

.ctools-button:active {
  border-color: #a0a0a0;
}

.ctools-dropbutton .ctools-content {
  border-right: 1px solid #e8e8e8;
}

.ctools-button .horizontal.left,
.ctools-button .horizontal.right,
.ctools-button .horizontal > li {
  clear: none;
  float: none;
}

.ctools-button .ctools-content a {
  background-image: none;
  border: medium none;
}

.ctools-dropbutton.open:hover {
  background-image:
    -moz-linear-gradient(
      -90deg,
      #ffffff 0px,
      #efefef 100%);
  background-image:
    -webkit-gradient(
      linear,
      left top,
      left bottom,
      color-stop(0.0, rgba(255, 255, 255, 1.0)),
      color-stop(1.0, rgba(242, 242, 242, 1.0))
    );
  background-image:
    -webkit-linear-gradient(
      -90deg,
      #ffffff 0px,
      #efefef 100%);
  border-color: #D0D0D0;
}

.ctools-dropbutton.open {
  -moz-box-shadow: 1px 1px 2px rgba(0,0,0,0.25);
  -webkit-box-shadow: 1px 1px 2px rgba(0,0,0,0.25);
  box-shadow: 1px 1px 2px rgba(0,0,0,0.25);
  z-index: 100;
}

.ctools-dropbutton .ctools-link {
  border-left: 1px solid #ffffff;
}

.ctools-dropbutton.open .ctools-content {
    padding-bottom: 4px;
}

.ctools-dropbutton.open li + li {
  border-top: 1px solid #efefef;
  margin-top: 4px;
  padding-bottom: 0;
  padding-top: 4px;
}

/* @end */

/* @group Forms */

.views-admin-dependent {
  padding-left: 17px;
}

fieldset.box-padding {
  border: none;
}

.form-item {
  margin-top: 15px;
  padding-bottom: 0;
  padding-top: 0;
}

input.form-checkbox,
input.form-radio {
  vertical-align: baseline;
}

.form-submit + .form-submit,
.views-admin a.button + a.button {
  margin-left: 1em; /* LTR */
}

/*.fieldset-wrapper > * + *,
.form-wrapper > * + * {
  margin-top: 15px;
}*/

.container-inline {
  padding-top: 15px;
}

.container-inline > * + *,
.container-inline .fieldset-wrapper > * + * {
  padding-left: 4pt; /* LTR */
}

.views-admin .form-type-checkbox + .form-wrapper {
  margin-left: 16px;
}

/* Hide 'remove' checkboxes. This might be scoped too widely. */
[class*="form-type-checkbox"][class*="remove"] {
  display: none;
}

/* sizes the labels of checkboxes and radio button to the height of the text */
.form-type-checkbox label,
.form-type-radio label {
  line-height: 2;
}

/* @end */

/* @group Lists */

.horizontal > * + * {
  margin-left: 9px; /* LTR */
  padding-left: 9px; /* LTR */
}

.views-ui-view-title {
  font-weight: bold;
}

/* @end */

/* @group Messages */

.view-changed {
  margin-bottom: 21px;
}

/* @end */

/* @group Headings */

/* Intentionally targeting h1 */
.views-admin h1.unit-title {
  font-size: 15px;
  line-height: 1.6154;
  margin-bottom: 0;
  margin-top: 18px;
}

/* @end */

/* @group Tables */

table td, 
table th {
  vertical-align: top;
}

/* @end */

/* @group List views */

/* These header classes are ambiguous and should be scoped to th elements */

th.views-ui-name {
  width: 18%;
}

th.views-ui-description {
  width: 26%;
}

th.views-ui-tag {
  width: 8%;
}

th.views-ui-path {
  width: auto;
}

th.views-ui-operations {
  width: 24%;
}

/* @end */

/* @group Add view */

/**
 * I wish this didn't have to be so specific
 */
.form-item-description-enable + .form-item-description {
  margin-top: 0;
}

.form-item-description-enable label {
  font-weight: bold;
}

#edit-view-displays-wrapper {
  margin-top: 27px;
}

/* This could be made more general if more than one instance occurs */
#edit-page-style .fieldset-wrapper {
  padding-left: 0;
  padding-right: 0;
}

/* @end */

/* @group Rearrange filters
 *
 * Styling for the form that allows views filters to be rearranged.
 */

.group-populated {
  display: none;
}

td.group-title {
  font-weight: bold;
}

.views-ui-dialog td.group-title {
  margin: 0;
  padding: 0;
}

.views-ui-dialog td.group-title span {
  display: block;
  height: 1px;
  overflow: hidden;
}

.group-message .form-submit,
.views-remove-group-link,
#views-add-group {
  float: right;
  clear: both;
}

.views-operator-label {
  font-style: italic;
  font-weight: bold;
  padding-left: 0.5em; /* LTR */
  text-transform: uppercase;
}

.form-item-show-wizard-key label {
  float: left;
}

.form-item-show-wizard-key select {
  margin-left: 5px;
}

.exposed-description {
  float: left;
  padding-top: 3px;
  padding-right: 10px;
}

#edit-options-more {
  clear: both;
}

/* @end */

/* @group Attachments */

.views-displays {
  border: 1px solid #CCC;
  padding-bottom: 18px;
}

.views-display-top {
  background-color: #F9F9F9;
  border-bottom: 1px solid #CCCCCC;
  margin-bottom: 14px;
  padding: 8px 8px 6px; /* LTR */
  position: relative;
}

.views-display-top .secondary > li + li {
  margin-left: 6px;
  padding-left: 0;
}

#views-display-extra-actions li {
  padding: 3px 9px;
}

#views-display-extra-actions .analyze {
  border-color: #aaa;
  border-style: solid;
  border-width: 0 1px;
  margin-right: 1px;
  padding-left: 10px;
  padding-right: 10px;
}

/* @end */

/* @group Attachment details tabs
 *
 * The tabs that switch between sections
 */

.views-displays .secondary a {
  background-color: #f1f1f1;
  border: 1px solid #cbcbcb;
  -moz-border-radius: 7px;
  -webkit-border-radius: 7px;
  border-radius: 7px;
  color: #008BCB;
  display: inline-block;
  padding: 2px 7px 3px;
}

.views-displays .secondary a:focus {
  outline: none;
}

.views-displays .secondary a:hover,
.views-displays .secondary .active a {
  background-color: #666666;
  color: #ffffff;
}

.views-displays .secondary .open > a {
  -moz-border-radius: 7px 7px 0 0;
  -webkit-border-radius: 7px 7px 0 0;
  border-radius: 7px 7px 0 0;
  border-bottom: 1px solid transparent;
  position: relative;
}

.views-displays .secondary .open > a:hover {
  background-color: #f1f1f1;
  color: #008BCB;
}

.views-displays .secondary .action-list  li {
  background-color: #f1f1f1;
  border-color: #cbcbcb;
  border-style: solid;
  border-width: 0 1px;
  padding: 2px 9px;
}

.views-displays .secondary .action-list  li:first-child {
  -moz-border-radius: 0 7px 0 0;
  -webkit-border-radius: 0 7px 0 0;
  border-radius: 0 7px 0 0;
  border-width: 1px 1px 0;
}

.views-displays .secondary .action-list  li.last {
  border-width: 0 1px 1px;
}

.views-displays .secondary .action-list  li:last-child {
  -moz-border-radius: 0 0 7px 7px;
  -webkit-border-radius: 0 0 7px 7px;
  border-radius: 0 0 7px 7px;
  border-width: 0 1px 1px;
}

.views-displays .secondary .action-list input.form-submit {
  background: none repeat scroll 0 0 transparent;
  border: medium none;
  -moz-border-radius: 0;
  -webkit-border-radius: 0;
  border-radius: 0;
  color: #008BCB;
  padding: 0;
}

.views-displays .secondary .action-list li:hover {
  background-color: #dddddd;
}

/* @end */

/* @group Attachment details
 *
 * The attachment details section is a collapsible ctools area
 */
 
#edit-display-settings {
  border-bottom: 3px solid #CCC;
  padding-bottom: 12px;
}

#edit-display-settings-title {
  font-size: 14px;
  line-height: 1.5;
  margin: 0;
}

#edit-display-settings-title,
.views-display-settings .ctools-toggle {
  color: #008BCB;
}

#edit-display-settings-content {
  margin-top: 12px;
}

#edit-display-settings-main {
  margin-top: 15px;
}

/* @end */

/* @group Attachment columns
 *
 * The columns that contain the option buckets e.g. Format and Basic Settings
 */

.views-display-column + .views-display-column {
   margin-top: 0;
 }

 /* @end */

/* @group Auto preview
 *
 * The auto-preview checkbox line.
 */

#edit-display-preview-controls > div,
#edit-display-preview-controls > input {
  float: left;
}

#edit-display-preview-controls > div {
  margin-top: 4px;
}

#edit-display-preview-controls .arguments-preview,
#edit-display-preview-controls .arguments-preview + .form-item {
  margin-left: 14px;
}

#edit-display-preview-controls .form-type-textfield label {
  position: absolute;
}

#edit-display-preview-controls .form-type-textfield input, 
#edit-display-preview-controls .form-type-textfield .description {
  margin-left: 82px;  
}

/* @end */

/* @group Attachment buckets
 *
 * These are the individual "buckets," or boxes, inside the display settings area
 */

.views-ui-display-tab-bucket {
  border: 1px solid #f3f3f3;
  line-height: 20px;
  margin: 0;
  padding-top: 4px;
}

.views-ui-display-tab-bucket + .views-ui-display-tab-bucket {
  border-top: medium none;
}

.views-ui-display-tab-bucket > h3,
.views-ui-display-tab-bucket > .views-display-setting {
  padding: 2px 6px 4px;
}

.views-ui-display-tab-bucket h3 {
  font-size: 12px;
  text-transform: uppercase;
}

.views-ui-display-tab-bucket .links.actions {
  margin-right: 6px;
  margin-top: 2px;
}

/* @end */

/* @group Attachment bucket overridden
 * 
 * Applies a broken link icon to overridden buckets.
 * The better way to implement this would be to add the overridden class
 * to the bucket header when the bucket is overridden and style it as a 
 * generic icon classed element. For the moment, we'll style the bucket
 * header specifically with the broken link icon.
 */
 
.views-ui-display-tab-bucket.overridden > h3 {
  background-attachment: scroll;
  background-image: url("../images/sprites.png");
  background-position: left -172px; /* LTR */
  background-repeat: no-repeat;
  overflow: hidden;
  padding-left: 21px;
  zoom: 1;
}

/* @end */

/* @group Attachment bucket drop button */

.views-ui-display-tab-bucket {
  position: relative;
}

.views-ui-display-tab-bucket .ctools-button {
  position: absolute;
}

.views-ui-display-tab-bucket .ctools-button {
  right: 5px;
  top: 4px;
}

/* @end */

/* @group Attachment bucket rows
 *
 * This is each row within one of the "boxes."
 */

.views-ui-display-tab-bucket .views-display-setting {
  color: #666666;
  font-size: 12px;
  padding-bottom: 2px;
}

.views-ui-display-tab-bucket .even {
  background-color: #f9f9f9;
}

.views-ui-display-tab-bucket .views-group-text {
  margin-top: 6px;
  margin-bottom: 6px;
}

.views-display-setting .label {
  margin-right: 3pt; /* LTR */
}

/* @end */

/* @group Preview
 *
 * The preview controls and the preview pane
 */

#edit-displays-preview-controls .fieldset-wrapper > * {
  float: left;
}

#edit-displays-preview-controls .fieldset-wrapper > .form-item {
  margin-top: 0.3333em;
}

#edit-displays-preview-controls .form-submit {
  display: inline-block;
  margin-right: 1em;
}

#edit-displays-preview-controls .form-type-textfield {
  margin-left: 1em;
  position: relative;
}

#edit-displays-preview-controls .form-type-textfield label {
  border-left: 1px solid #999;
  padding-left: 1em;
  position: absolute;
}

#edit-displays-preview-controls .form-type-textfield label:after {
  content: ":";
}

#edit-displays-preview-controls .form-type-textfield label ~ * {
  margin-left: 105px;
}

/* @end */

/* @group Modal dialog box
 *
 * The contents of the popup dialog on the views edit form.
 */

.views-ui-dialog {
  padding: 0;
}

.views-ui-dialog fieldset.collapsible {
  padding-top: 1.5em;
}

.views-ui-dialog fieldset.collapsed {
  padding-top: 2.5em;
}

div.views-filterable-options .form-type-checkbox {
  border: 1px solid #CCC;
  padding: 5px 8px;
  border-top: none;
}

div.views-filterable-options {
  border-top:  1px solid #CCC;
}

div.views-filterable-options .even .form-type-checkbox {
  background-color: #F3F4EE;
}

div.views-filterable-options .form-type-checkbox .description {
  margin-top: 0;
  margin-bottom: 0;
}

#views-filterable-options-controls {
  margin: 1em 0;
}

#views-filterable-options-controls .form-item {
  width: 45%;
  margin-right: 2%; /* LTR */
}

#views-filterable-options-controls input,
#views-filterable-options-controls select {
  width: 200px;
}

.views-ui-dialog .views-filterable-options {
  margin-bottom: 10px;
}

.views-ui-dialog .views-add-form-selected {
  margin: 5px 16px;
}

.views-ui-dialog #views-ajax-title,
.views-ui-dialog .views-override {
  background-color: #F3F4EE;
}

.views-ui-dialog .views-override {
  padding: 8px 13px;
}

.views-ui-dialog .views-override > * {
  margin: 0;
}

.views-ui-dialog #views-ajax-title {
  font-size: 15px;
  padding: 8px 13px;
}

.views-ui-dialog #views-progress-indicator {
  font-size: 11px;
  position: absolute;
  right: 10px; /* LTR */
  top: 8px;
}

.views-ui-dialog #views-progress-indicator:before {
  content: "\003C\00A0";
}

.views-ui-dialog #views-progress-indicator:after {
  content: "\00A0\003E";
}

.views-ui-dialog .scroll {
  border: 1px solid #CCC;
  border-width: 1px 0;
  padding: 8px 13px;
}

.views-ui-dialog .form-buttons {
  background-color: #F3F4EE;
  padding: 8px 13px;
}
.views-ui-dialog .form-buttons input {
  margin-bottom: 0;
}

/* @end */

/* @group Configure filter criteria */

/* @todo the width and border info could be moved into a more generic class */
/* @todo Make this a class to be used anywhere there's node types? */
#edit-options-value, #edit-options-validate-options-node-types {
  border-color: #CCCCCC;
  border-style: solid;
  border-width: 1px;
  max-height: 210px;
  overflow: auto;
  padding: 0 0 0 2px;
  width: 190px;
}

/* @end */

/* @group Rearrange filter criteria */

#views-ui-rearrange-filter-form table {
  border-collapse: collapse;
}

#views-ui-rearrange-filter-form tr td[rowspan] {
  border-color: #CDCDCD;
  border-style: solid;
  border-width: 0 1px 1px 1px;
}

#views-ui-rearrange-filter-form tr[id^="views-row"] {
  border-right: 1px solid #CDCDCD;
}

#views-ui-rearrange-filter-form tr[id^="views-row"].even td {
  background-color: #F3F4ED;
}

#views-ui-rearrange-filter-form .views-group-title {
  border-top: 1px solid #CDCDCD;
}

#views-ui-rearrange-filter-form .group-empty {
  border-bottom: 1px solid #CDCDCD;
}

/* @end */

/* @group Live preview elements */

/**
 * Create a horizontal rule above the live preview area.
 */
#views-live-preview {
  margin: 0 12px;
}

/* Intentionally targeting h1 */
#views-live-preview h1.section-title {
  color: #818181;
  display: inline-block;
  font-size: 13px;
  font-weight: normal;
  line-height: 1.6154;
  margin-bottom: 0;
  margin-top: 0;
}

#views-live-preview .view > * {
  margin-top: 18px;
}

#views-live-preview a,
#views-live-preview a:link,
#views-live-preview a:visited {
  color: #000000;
}

#views-live-preview .preview-section {
  border: 1px dashed #DEDEDE;
  margin: 0 -5px;
  padding: 3px 5px;
}

#views-live-preview li.views-row + li.views-row {
  margin-top: 18px;
}

/* The div.views-row is intentional and excludes li.views-row, for example */
#views-live-preview div.views-row + div.views-row {
  margin-top: 36px;
}

/* @group Grid */

#views-live-preview .views-view-grid th,
#views-live-preview .views-view-grid td {
  vertical-align: top;
}

/* @end */

/* @group HTML list */

#views-live-preview .view-content > .item-list > ul {
  list-style-position: outside;
  padding-left: 21px; /* LTR */
}

/* @end */

/* @group Jump list */

#views-live-preview .ctools-jump-menu-select{
  max-width: 450px;
}

/* @end */

/* @end */

/* @group Add/edit argument form */

#edit-options-default-action {
  width: 300px;
  float: left;
}

#edit-options-exception {
  float: right;
  width: 250px;
  margin-top: 0pt;
}

#edit-options-argument-present .form-item {
  margin-top: 10px;
}

#edit-options-exception .form-type-textfield, #edit-options-argument-present .form-type-textfield {
  margin-top: 0;
}

/* @end */

/* @group CTools */

.ctools-toggle {
  border-bottom-color: transparent;
  border-left-color: transparent;
  border-right-color: transparent;
  border-style: solid;
  border-width: 5px 5px 0;
  display: inline-block;
  float: left;
  height: 0;
  margin-right: 2px;
  margin-top: 0.6667em;
  width: 0;
}

.ctools-toggle.ctools-toggle-collapsed {
  border-bottom-color: transparent;
  border-left:  4px solid;
  border-right-color: transparent;
  border-top-color: transparent;
  border-width: 5px 0 5px 5px;
  margin-left: 2px;
  margin-right: 5px;
  margin-top: 0.5em;
}

.ctools-toggle:hover,
.ctools-collapsible-handle:hover {
  cursor: pointer;
}

.ctools-export-ui-row {
  margin-bottom: 5px;
}

.ctools-export-ui-row label {
  display: block;
  float: left;
  width: 55px;
}

.ctools-export-ui-fourth-row input {
  margin-top: 5px !important;
}

/* @end */

/* @group Output specific */

/**
 * Keeps the admin screen from looking stretched out larger monitors
 */
@media screen and (min-width: 1400px) {
  .views-admin {
    margin: 0 auto;
    max-width: 1379px;
  }
}

/* @end */
