/* $Id: views-admin.css,v 1.14.4.10 2010/08/24 16:13:20 dereine Exp $ */

.views-alt-ui-view-displays,
.views-alt-ui-view-paths,
.views-alt-ui-view-description {
  font-size: 0.9167em; /* 11px/12px */
  line-height: 1.5em;
}

.views-edit-view .views-displays {
  border: 1px solid #CCC;
  padding: 10px;
}

.views-edit-view .views-displays .secondary {
  text-align: left;
  float: left;
}

.js .views-edit-view .ui-tabs-hide {
  display: none;
}
