/**
 * The .theme.css file is intended to contain presentation declarations including
 * images, borders, colors, and fonts.
 */
  
/* @group Reset */

.page-admin-structure-views #content .links {
  list-style: none outside none;
  margin: 0;
}

.page-admin-structure-views #content a:hover {
  text-decoration: none;
}

/* @end */

/* @group Icons */

.page-admin-structure-views #content ul.actions a,
.page-admin-structure-views #content .icon,
.page-admin-structure-views #content .icon-text {
  background-attachment: scroll;
  background-image: url("../images/sprites.png");
  background-position: left top; /* LTR */
  background-repeat: no-repeat;
}

.page-admin-structure-views #content ul.actions a {
  display: block;
  height: 17px;
  overflow: hidden;
  text-indent: -9999px;
  width: 17px;
}

/* Targets a <span> element. This assumes no visible text from the span. */
.page-admin-structure-views #content .icon {
  display: inline-block;
  height: 12px;
  position: relative;
  width: 16px;
}

/* Targets any element with an icon -> text combo */
.page-admin-structure-views #content .icon-text {
  padding-left: 19px; /* LTR */
}

.page-admin-structure-views #content .icon-linked {
  background-position: left -153px; /* LTR */
}

.page-admin-structure-views #content .icon-unlinked {
  background-position: left -195px; /* LTR */
}

.page-admin-structure-views #content ul.actions .views-button-add {
  background-position: left -39px; /* LTR */
}

.page-admin-structure-views #content ul.actions .views-button-rearrange {
  background-position: left -96px; /* LTR */
}

.page-admin-structure-views #content ul.actions .views-button-add:hover {
  background-position: left -58px; /* LTR */
}

.page-admin-structure-views #content ul.actions .views-button-rearrange:hover {
  background-position: left -115px; /* LTR */
}

.page-admin-structure-views #content ul.actions .views-button-add:active {
  background-position: left -77px; /* LTR */
}

.page-admin-structure-views #content ul.actions .views-button-rearrange:active {
  background-position: left -134px; /* LTR */
}
 
.page-admin-structure-views #content .views-displays .icon-add {
  background-position: left -3px; /* LTR */
}

.page-admin-structure-views #content .views-displays .secondary a:hover > .icon-add {
  background-position: left -21px; /* LTR */
}

.page-admin-structure-views #content .views-displays .secondary .open a:hover > .icon-add {
  background-position: left -3px; /* LTR */
}

/* @end */

/* @group Forms */

.page-admin-structure-views #content input.form-checkbox, input.form-radio {
  vertical-align: baseline;
}

.page-admin-structure-views #content .form-submit + .form-submit,
.page-admin-structure-views #content a.button + a.button {
  margin-left: 1em; /* LTR */
}

.page-admin-structure-views #content .fieldset-wrapper > * + *,
.page-admin-structure-views #content .form-wrapper > * + * {
  margin-top: 18px;
}

.page-admin-structure-views #content .container-inline > * + *,
.page-admin-structure-views #content .container-inline .fieldset-wrapper > * + * {
  padding-left: 4pt; /* LTR */
}

/* @end */

/* @group Lists */

.page-admin-structure-views #content .horizontal > * + * {
  margin-left: 9px; /* LTR */
  padding-left: 9px; /* LTR */
}

/* @end */

/* @group Messages */

.page-admin-structure-views .view-changed {
  margin-bottom: 21px;
}

/* @end */

/* @group Headings */

.page-admin-structure-views #content h1 {
  font-size: 15px;
  line-height: 1.6154;
  margin-bottom: 0;
  margin-top: 18px;
}

/* @end */

/* @group Attachments */

.page-admin-structure-views #content .views-displays {
  border: 1px solid #CCC;
  padding-bottom: 18px;
}

.page-admin-structure-views #content .views-alt-ui-view-displays,
.page-admin-structure-views #content .views-alt-ui-view-paths,
.page-admin-structure-views #content .views-alt-ui-view-description {
  font-size: 0.9167em; /* 11px/12px */
  line-height: 1.5em;
}

.page-admin-structure-views #content .views-displays .secondary {
  background-color: #F9F9F9;
  border-bottom: 1px solid #CCCCCC;
  margin-bottom: 14px;
  padding: 8px 8px 6px; /* LTR */
}

.page-admin-structure-views #content .views-displays .secondary > li + li {
  margin-left: 3px; /* LTR */
}

/* @end */

/* @group Attachment details tabs
 * 
 * The tabs that switch between sections
 */

.page-admin-structure-views #content .views-displays .secondary a {
  background-color: #f1f1f1;
  border: 1px solid #cbcbcb;
  -moz-border-radius: 7px;
  -webkit-border-radius: 7px;
  border-radius: 7px;
  color: #008BCB;
  display: inline-block;
  padding: 2px 7px 3px;
}

.page-admin-structure-views #content .views-displays .secondary a:focus {
  outline: none;
}

.page-admin-structure-views #content .views-displays .secondary a:hover,
.page-admin-structure-views #content .views-displays .secondary .active a {
  background-color: #666666;
  color: #ffffff;
}

.page-admin-structure-views #content .views-displays .secondary .open > a {
  -moz-border-radius: 7px 7px 0 0;
  -webkit-border-radius: 7px 7px 0 0;
  border-radius: 7px 7px 0 0;
  border-bottom: 1px solid transparent;
  position: relative;
}

.page-admin-structure-views #content .views-displays .secondary .open > a:hover {
  background-color: #f1f1f1;
  color: #008BCB;
}

.page-admin-structure-views #content .views-displays .secondary .action-list  li {
  background-color: #f1f1f1;
  border-color: #cbcbcb;
  border-style: solid;
  border-width: 0 1px;
  padding: 2px 9px;
}

.page-admin-structure-views #content .views-displays .secondary .action-list  li:first-child {
  -moz-border-radius: 0 7px 0 0;
  -webkit-border-radius: 0 7px 0 0;
  border-radius: 0 7px 0 0;
  border-width: 1px 1px 0;
}

.page-admin-structure-views #content .views-displays .secondary .action-list  li.last {
  border-width: 0 1px 1px;
}

.page-admin-structure-views #content .views-displays .secondary .action-list  li:last-child {
  -moz-border-radius: 0 0 7px 7px;
  -webkit-border-radius: 0 0 7px 7px;
  border-radius: 0 0 7px 7px;
  border-width: 0 1px 1px;
}

.page-admin-structure-views #content .views-displays .secondary .action-list input.form-submit {
  background: none repeat scroll 0 0 transparent;
  border: medium none;
  -moz-border-radius: 0;
  -webkit-border-radius: 0;
  border-radius: 0;
  color: #008BCB;
  padding: 0;
}

.page-admin-structure-views #content .views-displays .secondary .action-list li:hover {
  background-color: #dddddd;
}

/* @end */

/* @group Attachment details collapsible fieldset
 *
 * The attachment details section is a collapsible fieldset, but should not
 * have a border around it.
 */
.page-admin-structure-views #content .views-display-tab fieldset {
  border: none;
  padding-left: 12px;
  padding-right: 12px;
}

.page-admin-structure-views #content .views-display-tab .fieldset-legend {
  text-transform: none;
  font-size: 14px;
  left: -5px; /* LTR */
}

.page-admin-structure-views #content .views-display-tab .fieldset-wrapper {
  padding: 0;
  position: relative;
}

/* @end */

/* @group Attachment columns
 *
 * The columns that contain the option buckets e.g. Format and Basic Settings
 */
 
 .page-admin-structure-views #content .views-display-columns > * + * {
   margin-top: 0;
 }
 
 /* @end */

/* @group Auto preview
 *
 * The auto-preview checkbox line. This may have more stuff added to it.
 */
 
.page-admin-structure-views #content div.form-item-displays-live-preview {
  text-align: right; /* LTR */
  margin: 0 12px;
  padding-bottom: 12px;
}

/**
 * Create a horizontal rule between the display details and whatever's after it.
 */
.page-admin-structure-views #content #views-live-preview {
  border-top: 3px solid #CCC;
  margin: 0 12px;
}

/* @end */

/* @group Attachment buckets
 *
 * These are the individual "buckets," or boxes, inside the three columns in the
 * attachment details section.
 */
 
.page-admin-structure-views #content .views-ui-display-tab-bucket {
  border: 1px solid #f3f3f3;
  line-height: 20px;
  margin: 1em 0;
  padding-top: 4px;
}

.page-admin-structure-views #content .views-ui-display-tab-bucket h3 {
  font-size: 12px;
  text-transform: uppercase;
}

.page-admin-structure-views #content .views-ui-display-tab-bucket > * {
  padding: 2px 6px 4px;
}

.page-admin-structure-views #content .views-ui-display-tab-bucket .icon-text {
  padding-left: 25px; /* LTR */
}

.page-admin-structure-views #content .views-ui-display-tab-bucket .icon-linked {
  background-position: 6px -151px;
}

.page-admin-structure-views #content .views-ui-display-tab-bucket .icon-unlinked {
  background-position: 6px -193px;
}

.page-admin-structure-views #content .views-ui-display-tab-bucket > .actions * + * {
  margin-left: 3px; /* LTR */
  padding-left: 3px; /* LTR */
}

/* @end */

/* @group Attachment bucket rows
 *
 * This is each row within one of the "boxes."
 */
 
.page-admin-structure-views #content .views-ui-display-tab-bucket .views-display-setting {
  color: #666666;
  font-size: 12px;
  padding-bottom: 2px;
}

.page-admin-structure-views #content .views-ui-display-tab-bucket .even {
  background-color: #f9f9f9;
}

.views-display-setting .label {
  margin-right: 3pt; /* LTR */
}

/* @end */

/* @group Modal dialog box
 *
 * The contents of the popup dialog on the views edit form.
 */
 
.page-admin-structure-views .views-ui-dialog {
  padding: 0;
}

.page-admin-structure-views .views-filterable-options .form-type-checkbox {
  border: 1px solid #CCC;
  padding: 5px 8px;
  border-top: none;
}

.page-admin-structure-views .views-filterable-options {
  border-top:  1px solid #CCC;
}

.page-admin-structure-views .views-filterable-options .even .form-type-checkbox {
  background-color: #F3F4EE;
}

.page-admin-structure-views .views-filterable-options .form-type-checkbox .description {
  margin-top: 0;
  margin-bottom: 0;
}

.page-admin-structure-views #views-filterable-options-controls {
  margin: 1em 0;
}

.page-admin-structure-views #views-filterable-options-controls .form-item {
  width: 45%;
  margin-right: 2%; /* LTR */
}

.page-admin-structure-views #views-filterable-options-controls input,
.page-admin-structure-views #views-filterable-options-controls select {
  width: 200px;
}

.page-admin-structure-views .views-ui-dialog .views-filterable-options {
  margin-bottom: 10px;
}

.page-admin-structure-views .views-ui-dialog #views-ajax-title,
.page-admin-structure-views .views-ui-dialog .views-override {
  background-color: #F3F4EE;
}

.page-admin-structure-views .views-ui-dialog .views-override {
  padding: 8px 13px;
}

.page-admin-structure-views .views-ui-dialog .views-override > * {
  margin: 0;
}

.page-admin-structure-views .views-ui-dialog #views-ajax-title {
  font-size: 15px;
  padding: 8px 13px;
}

.page-admin-structure-views .views-ui-dialog #views-progress-indicator {
  font-size: 11px;
  position: absolute;
  right: 10px; /* LTR */
  top: 8px;
}

.page-admin-structure-views .views-ui-dialog #views-progress-indicator:before {
  content: "\003C\00A0";
}

.page-admin-structure-views .views-ui-dialog #views-progress-indicator:after {
  content: "\00A0\003E";
}

.page-admin-structure-views .views-ui-dialog .scroll {
  border: 1px solid #CCC;
  border-width: 1px 0;
  padding: 8px 13px;
}

.page-admin-structure-views .views-ui-dialog .form-buttons {
  background-color: #F3F4EE;
  padding: 8px 13px;
}
.page-admin-structure-views .views-ui-dialog .form-buttons input {
  margin-bottom: 0;
}

/* @end */

/* @group Live preview elements */

.page-admin-structure-views #views-live-preview a,
.page-admin-structure-views #views-live-preview a:link,
.page-admin-structure-views #views-live-preview a:visited {
  color: #000000;
}

.page-admin-structure-views #views-live-preview .views-row {
  border: 1px dashed #DEDEDE;
  padding: 6px;
}

.page-admin-structure-views #views-live-preview .views_ui_view_preview_section_title + *,
.page-admin-structure-views #views-live-preview li.views-row + li.views-row {
  margin-top: 18px;
}

/* The div.views-row is intentional and excludes li.views-row, for example */
.page-admin-structure-views #views-live-preview div.views-row + div.views-row {
  margin-top: 36px;
}

/* @group Grid */

.page-admin-structure-views #views-live-preview .views-view-grid th,
.page-admin-structure-views #views-live-preview .views-view-grid td {
  vertical-align: top;
}

/* @end */

/* @group HTML list */

.page-admin-structure-views #views-live-preview .view-content > .item-list > ul {
  list-style-position: outside;
  padding-left: 21px; /* LTR */
}

/* @end */

/* @group Jump list */

.page-admin-structure-views #views-live-preview .ctools-jump-menu-select{
  max-width: 450px;
}

/* @end */

/* @end */
