/* $Id: views-admin.css,v 1.14.4.12 2010/12/24 13:42:00 dereine Exp $ */

/**
 * The .css file is intended to only contain positioning and size declarations
 * For example: display, position, float, clear, and overflow.
 */

/* @group Inline lists */

.horizontal > * {
  clear: none;
  float: left; /* LTR */
}

.horizontal.right {
  float: right;
}

.horizontal label {
  position: absolute;
}

.horizontal .form-item > [class] {
  margin-top: 25px;
}

.horizontal .form-item > [class] + [class] {
  margin-top: 0;
}

 /* @end */

/* @group Attachment details
 *
 * The attachment details section, its tabs for each section and the buttons
 * to add a new section
 */

.form-actions {
  float: right; /* LTR */
}

.views-displays {
  clear: both;
  float:left; /* LTR */
}

.views-displays .secondary {
  overflow: visible;
}

/* @end */

/* @group Attachment details tabs
 *
 * The tabs that switch between sections
 */

.views-displays .secondary > li {
  display: inline-block;
  float: left; /* LTR */
}

.views-displays .secondary .open > a {
  position: relative;
  z-index: 51;
}

.views-displays .views-display-deleted-link {
  text-decoration: line-through;
}

.views-display-deleted > fieldset > legend,
.views-display-deleted .fieldset-wrapper > .views-ui-display-tab-bucket > *,
.views-display-deleted .views-display-columns {
  opacity: 0.25;
}

.views-display-tab .fieldset-wrapper > .views-ui-display-tab-bucket .actions {
  opacity: 1.0;
}
/* @end */

/* @group Attachment details new section button */

.views-displays .secondary li.add {
  position: relative;
}

.views-displays .secondary .action-list {
  left: 0; /* LTR */
  margin: 0;
  position: absolute;
  top: 22px;
  z-index: 50;
}

.views-displays .secondary .action-list  li {
  display: block;
}

/* @end */

/* @group Attachment details collapsible fieldset */

.views-display-tab .fieldset-legend {
  left: -5px; /* LTR */
  position: relative;
}

.views-display-tab .fieldset-wrapper {
  position: relative;
}

/* @end */

/* @group Attachment details actions
 *
 * Display the "Delete" and "Duplicate" buttons to the right.
 */
.views-display-tab .fieldset-wrapper > .views-ui-display-tab-bucket .actions {
  position: absolute;
  right: 0; /* LTR */
  top: -5px;
}

/* @end */

/* @group Attachment configuration columns */

.views-display-columns > * {
  float: left; /* LTR */
  margin-left: 1%; /* LTR */
  padding-left: 1%; /* LTR */
  width: 32%;
}

.views-display-columns > *:first-child {
  margin-left: 0; /* LTR */
  padding-left: 0; /* LTR */
}

/* @end */

/* @group Modal dialog box */

.views-ui-dialog .ui-dialog-titlebar {
  display: none;
}

.views-ui-dialog #views-ajax-popup {
  padding: 0;
}

.views-ui-dialog #views-ajax-title,
.views-ui-dialog #views-ajax-body {
  padding: 0;
  margin: 0;
}

.views-ui-dialog #views-ajax-popup {
  overflow: hidden;
}

.views-ui-dialog .scroll {
  overflow: auto;
  max-height: 400px;
}

#views-filterable-options-controls {
  display: none;
}

.views-ui-dialog #views-filterable-options-controls {
  display: block;
}

/* @end */

/* @group Settings forms */

.views-dependent {
  margin-left: 1.5em; /* LTR */
}

.views-display-setting .label,
.views-display-setting .views-ajax-link {
  display: inline-block;
  float: left; /* LTR */
}

/* @end */

/* @group Filter Settings form */
div.form-item-options-value-all {
  display: none;
}
/* @end */

/* @group Drupal overrides */

/* The .progress-disabled class added to the form on submit floats the element
 * left and causes the form width to shrink-wrap to the content. Setting the
 * width to 100% prevents this.
 */
#views-ajax-body form {
  width: 100%;
}

/* @end */

/* @group Clearfix
 *
 * @see http://perishablepress.com/press/2009/12/06/new-clearfix-hack
 */

 /* Reset the formatting context for all modern browsers */
.views-display-tab .fieldset-wrapper:after,
ul.secondary:after {
  clear: both;
  content: " x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x ";
  display: block;
  font-size: xx-large;
  height: 0 !important;
  line-height: 0;
  overflow: hidden;
  visibility: hidden;
}

/* Reset the formatting context for IE */
.views-display-tab .fieldset-wrapper,
ul.secondary {
  zoom: 1;
}

/* @end */

/* @group Rearrange filters
 *
 * Styling for the form that allows views filters to be rearranged.
 */

.group-populated {
  display: none;
}

td.group-title {
  font-weight: bold;
}

.views-ui-dialog td.group-title {
  margin: 0;
  padding: 0;
}

.views-ui-dialog td.group-title span {
  display: block;
  height: 1px;
  overflow: hidden;
}

.group-message .form-submit,
.views-remove-group-link,
#views-add-group {
  float: right;
  clear: both;
}

.views-operator-label {
  font-style: italic;
  font-weight: bold;
  padding-left: 0.5em; /* LTR */
  text-transform: uppercase;
}

.js-only {
  display: none;
}

html.js .js-only {
  display: inherit;
}

html.js span.js-only {
  display: inline;
}

.form-item-show-wizard-key label {
  float: left;
}

.form-item-show-wizard-key select {
  margin-left: 5px;
}

.exposed-description {
  float: left;
  padding-top: 3px;
  padding-right: 10px;
}

.views-left-25 {
  width: 25%;
  float: left;
}
.views-left-30 {
  width: 30%;
  float: left;
}
.views-left-40 {
  width: 40%;
  float: left;
}
.views-left-50 {
  width: 50%;
  float: left;
}
.views-left-75 {
  width: 75%;
  float: left;
}

.views-right-50 {
  width: 50%;
  float: right;
}
.views-right-60 {
  width: 60%;
  float: right;
}
.views-right-70 {
  width: 70%;
  float: right;
}

#edit-options-more {
  clear: both;
}

/* @end */

/* @group Inline lists */

.views-ui-operations {
  min-width: 22em;
}

.views-ui-name {
  min-width: 15em;
}

/* @end */

/* Position the AJAX throbber in the middle of the window.
 * @todo This might not be the best way to do it, but it works without changing
 *   where the throbber DIV is in the markup. To get control over where the DIV
 *   is in the markup will require more investigation.
 */
.views-admin .ajax-progress-throbber {
  position: fixed;
  top: 45%;
  left: 45%;
}
