/**
 * @file
 * CSS for the three-three-four layout.
 */
.layout-test-layout #header div.section,
.layout-test-layout #main,
.layout-test-layout #footer {
  width: 100%;
  margin-inline-start: auto;
  margin-inline-end: auto;
}
.layout-test-layout #content .section,
.layout-test-layout .sidebar .section {
  padding: 0 15px;
}

@media all and (min-width: 851px) {
  .layout-test-layout #content,
  .layout-test-layout #sidebar {
    display: inline;
    float: inline-start;
    position: relative;
  }
  .layout-test-layout #content {
    margin-inline-end: 30%;
    width: 70%;
  }
  .layout-test-layout #sidebar {
    width: 30%;
    margin-inline-start: -30%;
  }
}
