
.farbtastic {
  position: relative;
}
.farbtastic * {
  position: absolute;
  cursor: crosshair;
}
.farbtastic,
.farbtastic .wheel {
  width: 195px;
  height: 195px;
}
.farbtastic .color,
.farbtastic .overlay {
  inset-block-start: 47px;
  inset-inline-start: 47px;
  width: 101px;
  height: 101px;
}
.farbtastic .wheel {
  background: url(wheel.png) no-repeat;
  width: 195px;
  height: 195px;
}
.farbtastic .overlay {
  background: url(mask.png) no-repeat;
}
.farbtastic .marker {
  width: 17px;
  height: 17px;
  margin-block: -8px 0;
  margin-inline: -8px 0;
  overflow: hidden;
  background: url(marker.png) no-repeat;
}

