/* 
 * CSS specifically for the hide titles option on comments. 
 */

.hide-comment-title h3 .permalink {
  display: inline-block;
  content: "Permalink";
  font-size:  80%;
  text-indent: -99999px;
  line-height: initial;
  width: 1em;
  height: 1em;
  margin: 0 5px -2px 0;
  padding: 1px;
  background-color: currentColor;
  overflow: hidden;
  -webkit-mask-image: url("/core/modules/comment/images/link-icon.svg");
  mask-image: url("/core/modules/comment/images/link-icon.svg");
  -webkit-mask-size: cover;
  mask-size: cover;
}

.hide-comment-title .comment-title h3 {
  display: inline-block;
}
