[mysqld]

; From real world testing ;
table_definition_cache = 4000
table_cache = 512
sort_buffer_size = 2M
read_buffer_size = 2M
read_rnd_buffer_size = 8M
myisam_sort_buffer_size = 16M
thread_concurrency = 2

; Recommendations from Percona ;
; MyISAM ;
key-buffer-size                = 32M
myisam-recover                 = FORCE,BACKUP

; SAFETY ;
max-allowed-packet             = 32M
max-connect-errors             = 1000000

; BINARY LOGGING ;
expire-logs-days               = 14
sync-binlog                    = 1

; CACHES AND LIMITS ;
tmp-table-size                 = 32M
max-heap-table-size            = 32M
query-cache-type               = 0
query-cache-size               = 0
query-cache-limit              = 0
max-connections                = 500
thread-cache-size              = 50
open-files-limit               = 65535
table-definition-cache         = 4096
table-open-cache               = 4096

; LOGGING ;
log-error                      = /var/lib/mysql/mysql-error.log
log-queries-not-using-indexes  = 1
slow-query-log                 = 1
slow-query-log-file            = /var/lib/mysql/mysql-slow.log
