# Ignore this file so it can be changed
.gitignore

# Ignore configuration files that may contain sensitive information.
/settings*.php
sites/*/settings*.php

# Ignore paths that contain user-generated content.
/files
/private
sites/*/files
sites/*/private
