# Configuration file for running the test suite. Results typically at http://travis-ci.org/backdrop/backdrop
# whitelist
language: php
php:
  - 5.3
branches:
  only:
    - travis_ci
before_script:
  # Install Drush. Newer drush versions won't run site-install because Backdrop
  # doesn't match expectations about Drupal 7/8 versions. Drush 5.7 doesn't
  # check the version at all, so it works for now.
  - pear channel-discover pear.drush.org
  - pear install drush/drush-5.7.0
  - phpenv rehash

  # Import the PHP configuration.
  - phpenv config-add core/misc/travis-php.ini

  # Install Backdrop with Drush.
  - mysql -e 'create database backdrop;'
  - chmod a+w sites/default
  - drush si --db-url=mysql://root:@localhost/backdrop -y
  - chmod go-w sites/default
  - drush en simpletest -y
script: php -d display_errors="stderr" ./core/scripts/run-tests.sh --php `which php` --concurrency 12 --url 'http://localhost' --color --verbose --class ImageAdminStylesUnitTest
