
/**
 * @file
 * Responsive menu toggle button
 */

.menu-toggle--state ~ .menu {
  height: 0;
  overflow: hidden;
  transition: height 0.25s ease-in-out;
}

.menu-toggle--state:checked ~ .menu {
  height: 100vh;
  height: calc(100vh - 2.8125em);
  overflow-y: auto;
}

@media (min-width: 62em) {
  .menu-toggle--state ~ .menu,
  ul.menu,
  .menu-toggle--state:checked ~ .menu {
    height: auto;
    overflow: visible;
  }
}

.menu-toggle__button {
  position: absolute;
  top: 0;
  right: 0;
  display: block;
  padding: 2.9375em 1.25em 1.75em 3em;
  cursor: pointer;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

@media (min-width: 62em) {
  .menu-toggle__button {
    position: relative;
    top: auto;
    right: auto;
    float: left;
    -webkit-transform: none;
    transform: none;
    -webkit-transform: translate(0, 0.75em);
    transform: translate(0, 0.75em);
  }

  .menu-toggle__button,
  .menu-toggle__state {
    display: none;
  }
}

.menu-toggle__button-icon {
  display: block;
  position: absolute;
  top: 50%;
  left: 0.875em;
  -webkit-transform: translate(0, 0.4375em) scale(0.6);
  transform: translate(0, 0.4375em) scale(0.6);
}

.menu-toggle__button-icon:before,
.menu-toggle__button-icon:after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  box-sizing: border-box;
  display: block;
  width: 2.5em;
}

.menu-toggle__button-icon:before {
  height: 0;
  border-top: 0.25em solid #fff;
  background: #fff;
  -webkit-transform: translate(0, -0.75em);
  transform: translate(0, -0.75em);
  -webkit-transform-origin: left top;
  transform-origin: left top;
  -webkit-transition: -webkit-transform 0.2s;
  transition: -webkit-transform 0.2s;
  transition: transform 0.2s;
  transition: transform 0.2s, -webkit-transform 0.2s;
}

.menu-toggle--state:checked ~ .menu-toggle__button .menu-toggle__button-icon:before {
  -webkit-transform: translate(0, -0.75em) rotate(45deg);
  transform: translate(0, -0.75em) rotate(45deg);
  -webkit-transform-origin: left top;
  transform-origin: left top;
}

.menu-toggle__button-icon:after {
  height: 1em;
  border: 0.25em solid #fff;
  border-width: 0.25em 0 0.25em 0;
  -webkit-transition: border 0.2s, -webkit-transform 0.2s;
  transition: border 0.2s, -webkit-transform 0.2s;
  transition: border 0.2s, transform 0.2s;
  transition: border 0.2s, transform 0.2s, -webkit-transform 0.2s;
}

.menu-toggle--state:checked ~ .menu-toggle__button .menu-toggle__button-icon:after {
  -webkit-transform: translate(0.375em, 0) rotate(-45deg);
  transform: translate(0.375em, 0) rotate(-45deg);
  border-top-color: transparent;
  -webkit-transform-origin: left 1.5em;
  transform-origin: left 1.5em;
}
