.menu-dropdown {
  position: relative;
}

/* Undo system.theme.css menu styles for dropdowns. */
.menu-dropdown li,
.menu-dropdown li.expanded,
.menu-dropdown li.collapsed,
.menu-dropdown li.leaf {
  margin: 0;
  padding: 0;
}
.js .menu-dropdown a,
.js .menu-dropdown a:hover,
.js .menu-dropdown a:focus,
.js .menu-dropdown a:active {
  /* make room for the toggle button (sub indicator) */
  padding-inline-end: 58px;
  font-weight: normal;
  line-height: 17px;
  text-decoration: none;
}
.menu-dropdown a.current {
  color: #d23600;
}
.menu-dropdown a.disabled {
  color: #bbbbbb;
}
.menu-dropdown a span.sub-arrow {
  position: absolute;
  inset-block-start: 50%;
  margin-block-start: -17px;
  inset-inline-start: auto;
  inset-inline-end: 4px;
  width: 34px;
  height: 34px;
  overflow: hidden;
  font: bold 16px/34px monospace !important;
  text-align: center;
  text-shadow: none;
}
.menu-dropdown span.sub-arrow::before {
  display: block;
  content: '+';
}
.menu-dropdown a.highlighted span.sub-arrow::before {
  display: block;
  content: '-';
}

@media (min-width: 48em) {
  /* Switch to desktop layout
  -----------------------------------------------
     These transform the menu tree from
     collapsible to desktop (navbar + dropdowns)
  -----------------------------------------------*/
  /* start... (it's not recommended editing these rules) */
  .js .menu-dropdown ul {
    position: absolute;
    width: 12em;
    inset-block-start: 1em;
    display: none;
  }

  .menu-dropdown li {
    float: inline-start;
  }

  .menu-dropdown ul li {
    float: none;
  }

  .menu-dropdown a {
    white-space: nowrap;
  }

  .menu-dropdown ul a {
    white-space: normal;
  }

  /* ...end */
  .menu-dropdown a,
  .menu-dropdown a:hover,
  .menu-dropdown a:focus,
  .menu-dropdown a:active,
  .menu-dropdown a.highlighted {
    color: #555555;
  }
  .menu-dropdown a.disabled {
    color: #bbbbbb;
  }
  .menu-dropdown li.has-children > a {
    padding-inline-end: 24px;
  }
  .menu-dropdown a span.sub-arrow {
    inset-block-start: 50%;
    margin-block-start: -2px;
    inset-inline-end: 12px;
    width: 0;
    height: 0;
    border-width: 4px;
    border-style: dashed;
    border-block-start-style: solid;
    border-color: transparent;
    border-block-start-color: #555555;
    background: transparent;
    border-radius: 0;
  }
  .menu-dropdown a.highlighted span.sub-arrow::before {
    display: none;
  }
  .menu-dropdown li {
    border-block-start: 0;
  }
  .menu-dropdown ul {
    border: 1px solid #bbbbbb;
    padding: 5px 0;
    background: #ccc;
  }
  .menu-dropdown ul a,
  .menu-dropdown ul a:hover,
  .menu-dropdown ul a:focus,
  .menu-dropdown ul a:active,
  .menu-dropdown ul a.highlighted {
    border: 0 !important;
    padding: 10px 20px;
    color: #555555;
  }
  .menu-dropdown ul a:hover,
  .menu-dropdown ul a:focus,
  .menu-dropdown ul a:active,
  .menu-dropdown ul a.highlighted {
    background: #eeeeee;
  }
  .menu-dropdown ul a.disabled {
    background: white;
    color: #cccccc;
  }
  .menu-dropdown ul .has-children > a {
    padding-inline-end: 20px;
  }
  .menu-dropdown ul a span.sub-arrow {
    inset-inline-end: 8px;
    inset-block-start: 50%;
    margin-block-start: -5px;
    border-width: 5px;
    border-style: dashed;
    border-inline-start-style: solid;
    border-color: transparent;
    border-inline-start-color: #555555;
  }
  .menu-dropdown span.scroll-up,
  .menu-dropdown span.scroll-down {
    position: absolute;
    display: none;
    visibility: hidden;
    overflow: hidden;
    background: white;
    height: 20px;
  }
  .menu-dropdown span.scroll-up:hover,
  .menu-dropdown span.scroll-down:hover {
    background: #eeeeee;
  }
  .menu-dropdown span.scroll-up-arrow,
  .menu-dropdown span.scroll-down-arrow {
    position: absolute;
    inset-block-start: 0;
    inset-inline-start: 50%;
    margin-inline-start: -6px;
    width: 0;
    height: 0;
    overflow: hidden;
    border-width: 6px;
    border-style: dashed dashed solid dashed;
    border-color: transparent transparent #555555 transparent;
  }
  .menu-dropdown span.scroll-down-arrow {
    inset-block-start: 8px;
    border-style: solid dashed dashed dashed;
    border-color: #555555 transparent transparent transparent;
  }
  .menu-dropdown > li > ul::before {
    inset-inline-start: 30px;
  }
  .menu-dropdown > li > ul:after {
    inset-inline-start: 31px;
  }
}
