@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src:
    url('OpenSans-Regular-webfont.woff2') format('woff2'),
    url('OpenSans-Regular-webfont.woff') format('woff'),
    url('OpenSans-Regular-webfont.ttf') format('truetype'),
}

@font-face {
  font-family: 'Open Sans';
  font-style: italic;
  font-weight: 400;
  src:
    url('OpenSans-Italic-webfont.woff2') format('woff2'),
    url('OpenSans-Italic-webfont.woff') format('woff'),
    url('OpenSans-Italic-webfont.ttf') format('truetype'),
}

@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 700;
  src:
    url('OpenSans-Bold-webfont.woff2') format('woff2'),
    url('OpenSans-Bold-webfont.woff') format('woff'),
    url('OpenSans-Bold-webfont.ttf') format('truetype'),
}

@font-face {
  font-family: 'Open Sans';
  font-style: italic;
  font-weight: 700;
  src:
    url('OpenSans-BoldItalic-webfont.woff2') format('woff2'),
    url('OpenSans-BoldItalic-webfont.woff') format('woff'),
    url('OpenSans-BoldItalic-webfont.ttf') format('truetype'),
}

