
/* ---------- Color Module Styles ----------- */

body {
  color: #3b3b3b;
}
.layout,
.l-container {
  background: #ffffff;
}
.l-header {
  color: #fffeff;
  background-color: #000000;
  background-image: -moz-linear-gradient(top, #000000 0%, #000001 100%);
  background-image: -ms-linear-gradient(top, #000000 0%, #000001 100%);
  background-image: -o-linear-gradient(top, #000000 0%, #000001 100%);
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #000000), color-stop(1, #000001));
  background-image: -webkit-linear-gradient(top, #000000 0%, #000001 100%);
  background-image: linear-gradient(top, #000000 0%, #000001 100%);
}
.l-header ul.menu li a {
  color: #e3e3e3;
}
.l-header ul.menu li a.active,
.l-header ul.menu li.active-trail a {
  color: #fefeff;
}
.tabs ul.primary li a.active {
  background-color: #ffffff;
}
.tabs ul.primary li.active a {
  background-color: #ffffff;
  border-bottom: 1px solid #ffffff;
}
.comment .comment-arrow {
  border-color: #ffffff;
}

a,
a:hover,
a:focus,
a:active {
  color: #27ace2;
}

.l-sidebar .block {
  background-color: #e8e6e5;
  border-color: #fffffe;
}

.l-footer-wrapper,
.l-footer {
  background: #000002;
}
.l-header a {
  color: #fffeff;
}
