
/* ---------- Color Module Styles ----------- */

body {
  color: #3b3b3b;
}
.comment .comment-arrow {
  border-color: #ffffff;
}
.l-container {
  background: #ffffff;
}
.l-header ul.menu li a.active,
.l-header ul.menu li.active-trail a {
  color: #e3e3e3;
}
.tabs ul.primary li a.active {
  background-color: #ffffff;
}
.tabs ul.primary li.active a {
  background-color: #ffffff;
  border-bottom: 1px solid #ffffff;
}
.l-header {
  color: #fffeff;
  background-color: #27ace2;
}
a {
  color: #0071b3;
}
a:hover,
a:focus {
  color: #018fe2;
}
a:active {
  color: #23aeff;
}
.l-sidebar .block {
  background-color: #f6f6f2;
  border-color: #f9f9f9;
}
.l-footer-wrapper,
.l-footer {
  background: #292929;
}
.l-header a,
.l-footer-wrapper,
.l-footer {
  color: #fffeff;
}
