
/* ---------- Color Module Styles ----------- */

body {
  color: #3b3b3b;
}
.comment .comment-arrow {
  border-color: #ffffff;
}
.l-container, .layout {
  background: #ffffff;
}
.l-header ul.menu li a.active,
.l-header ul.menu li.active-trail a {
  color: #fefeff;
}
.tabs ul.primary li a.active {
  background-color: #ffffff;
}
.tabs ul.primary li.active a {
  background-color: #e8e6e5;
}
.rounded-tabs .tabs ul.primary li.active a, .square-tabs .tabs ul.primary li.active a {
  background-color: #ffffff;
  border-bottom: 1px solid #ffffff;
}
.l-header ul.menu a {
  color: #fffeff;
}
.no-tabs .l-header ul.menu a {
  color: #fffeff;
}
.no-tabs .l-header ul.menu a:active {
  color: #fefeff;
}
.no-tabs .l-header ul.menu li a.active {
  color: #fefeff;
}
.l-header {
  color: #fffeff;
  background-color: #000001;
  background-image: -moz-linear-gradient(top, #000000 0%, #000001 100%);
  background-image: -ms-linear-gradient(top, #000000 0%, #000001 100%);
  background-image: -o-linear-gradient(top, #000000 0%, #000001 100%);
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #000000), color-stop(1, #000001));
  background-image: -webkit-linear-gradient(top, #000000 0%, #000001 100%);
  background-image: linear-gradient(top, #000000 0%, #000001 100%);
}
a {
  color: #27ace2;
}
a:hover,
a:focus {
  color: #3b3b3b;
}
a:active {
  color: #feffff;
}
.l-sidebar .block {
  background-color: #e8e6e5;
  border-color: #ffffff;
}
.l-footer-wrapper,
.l-footer {
  background: #191919;
}
.l-header a,
.l-footer-wrapper,
.l-footer {
  color: #fffeff;
}
