/* ---------- Maintenance page ---------- */

body.maintenance-page {
  background-color: #fff;
  color: #000;
}
.maintenance-page #page-wrapper {
  background: #fff;
  margin-inline-start: auto;
  margin-inline-end: auto;
  min-width: 0;
  min-height: 0;
  width: 800px;
  border: 1px solid #ddd;
  margin-block-start: 40px;
}
.maintenance-page #page {
  margin-block: 20px 40px;
  margin-inline: 40px;
}
.maintenance-page #main-wrapper {
  min-height: inherit;
}
.maintenance-page #header,
.maintenance-page #messages,
.maintenance-page #main {
  width: auto;
}
.maintenance-page #main {
  margin: 0;
}
.maintenance-page #header {
  background-color: #fff;
  background-image: none;
}
.maintenance-page #name-and-slogan {
  margin-block-end: 50px;
  margin-inline-start: 0;
  padding-block-start: 20px;
  font-size: 90%;
}
.maintenance-page #name-and-slogan,
.maintenance-page #name-and-slogan a,
.maintenance-page #name-and-slogan a:hover,
.maintenance-page #name-and-slogan a:hover {
  color: #777;
}
.maintenance-page .site-name {
  font-size: 1.821em;
  font-weight: normal;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}
.maintenance-page .page-title {
  line-height: 1em;
  margin-block-start: 0;
}
.maintenance-page #messages {
  padding: 0;
  margin-block-start: 30px;
}
.maintenance-page #messages div.messages {
  margin: 0;
}
