/* ---------- Menu Breakpoint Specifications ---------- */

@media (min-width: 768px) {
  .l-header ul.menu > li.last > a {
    margin-bottom: 0;
  }
  .l-header .rounded-tabs ul.menu > li > a {
    -moz-border-radius-topleft: 8px;
    -moz-border-radius-topright: 8px;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
  }
  .l-header .rounded-tabs ul.menu > li.last > a {
    -moz-border-radius-bottomleft: 0;
    -moz-border-radius-bottomright: 0;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
  }


  .l-header ul.menu > li {
    float: left; /* LTR */
  }
  [dir="rtl"] .l-header ul.menu > li {
    float: right;
  }

  /* Drop down specific styling. */
  .l-header ul.menu-dropdown ul {
    background-color: white;
  }
  .l-header ul.menu-dropdown > li.has-children > a {
    padding-right: 2.5em;
  }
  .l-header ul.menu-dropdown > li > a.highlighted {
    background-color: white;
  }
  .l-header ul.menu-dropdown ul {
    border: 0;
    box-shadow: 2px 2px 2px -2px #333333;
  }
}
