/**
 * CSS for the admin section of the Config module.
 */
.config-export-single-form textarea {
  font: 1.2em monospace;
  /* Note the Firefox does not support whitespace in textareas.
     See https://bugzilla.mozilla.org/show_bug.cgi?id=82711 */
  white-space: pre;
}
.ui-dialog.config-diff {
  max-width: 95%;
}
/* min-width ~750px */
@media only screen and (min-width: 46.875em) {
  .ui-dialog.config-diff {
    max-width: 80%;
  }
}
/* min-width ~1024px */
@media only screen and (min-width: 64em) {
  .ui-dialog.config-diff {
    max-width: 1000px;
  }
}
