/**
 * @file
 * Styles for Link module.
 */
.link-field-column {
  display: inline-block;
  width: 50%;
}

.link-field-column .form-text {
  width: 95%;
}
/* min-width ~500px */
@media only screen and (min-width: 31.25em) {
  .link-field-column {
    width: auto;
  }
  .link-field-column .form-text {
    width: 100%;
  }
}
