.l-header::after {
  display: block;
  font-size: 20px;
  color: yellow;
  content: "The supplemental CSS stylesheet for 1.17 is active.";
  text-align: center;
  margin: 20px auto;
  padding: 0 20px;
}
