/**
 * @file
 * Base styles for dropbuttons.
 */

/**
 * When a dropbutton has only one option, it is a button.
 */
.dropbutton-wrapper,
.dropbutton-wrapper div {
  box-sizing: border-box;
}
.js .dropbutton-wrapper {
  min-height: 2em;
  position: relative;
  width: auto;
}

@media screen and (max-width:600px) {
  .js .dropbutton-wrapper {
    width: 100%;
  }
}

.js .dropbutton-widget {
  position: absolute;
  inset-block-start: 0;
  inset-inline-start: 0;
}
/* UL styles are over-scoped in core, so this selector needs weight parity. */
.js .dropbutton-widget .dropbutton {
  list-style-image: none;
  list-style-type: none;
  margin: 0;
  overflow: hidden;
  padding: 0;
}
.js .dropbutton li,
.js .dropbutton a {
  display: block;
  text-align: end;
}

/**
 * The dropbutton styling.
 *
 * A dropbutton is a widget that displays a list of action links as a button
 * with a primary action. Secondary actions are hidden behind a click on a
 * twisty arrow.
 *
 * The arrow is created using border on a zero-width, zero-height span.
 * The arrow inherits the link color, but can be overridden with border colors.
 */
.js .dropbutton-widget {
  border-radius: 5px;
}
.js .dropbutton-multiple .dropbutton-widget {
  padding-inline-end: 2em;
}
.dropbutton-multiple.open,
.dropbutton-multiple.open .dropbutton-widget {
  max-width: none;
}
.dropbutton-multiple.open {
  z-index: 100;
}
.dropbutton a {
  border-radius: 5px;
}
.dropbutton-multiple .dropbutton a {
  border-start-start-radius: 5px;
  border-start-end-radius: 0;
  border-end-end-radius: 0;
  border-end-start-radius: 5px;
}
.dropbutton-multiple .dropbutton .secondary-action {
  display: none;
}
.dropbutton-multiple.open .dropbutton .secondary-action {
  display: block;
}
.dropbutton-toggle {
  inset-block-end: 0;
  display: block;
  position: absolute;
  inset-inline-end: 0;
  text-indent: 110%;
  inset-block-start: 0;
  white-space: nowrap;
  width: 2em;
}
.dropbutton-toggle button {
  border-start-end-radius: 5px;
  border-end-end-radius: 5px;
  background: none;
  border: 0;
  cursor: pointer;
  display: block;
  height: 100%;
  margin: 0;
  padding: 0;
  width: 100%;
}
.dropbutton-arrow {
  border-block-end-color: transparent;
  border-inline-start-color: transparent;
  border-inline-end-color: transparent;
  border-style: solid;
  border-width: 0.3333em 0.3333em 0;
  display: block;
  height: 0;
  line-height: 0;
  position: absolute;
  inset-inline-end: 40%; /* 0.6667em; */
  inset-block-start: 50%;
  margin-block-start: -0.1666em;
  width: 0;
  overflow: hidden;
}
.dropbutton-multiple.open .dropbutton-arrow {
  border-block-end: 0.3333em solid;
  border-block-start-color: transparent;
  inset-block-start: 0.6667em;
}
