
body {
  margin: 1em;
  background-color: #ffffff;
}
[dir="rtl"] body {
  direction: rtl;
}
th {
  text-align: left; /* LTR */
  color: #000066;
  border-bottom: 1px solid #cccccc;
}
[dir="rtl"] th {
  text-align: right;
}
tr.odd {
  background-color: #dddddd;
}
tr.even {
  background-color: #ffffff;
}
td {
  padding: 5px;
}
#menu {
  visibility: hidden;
}
#main {
  margin: 1em;
}
