.vertical-tabs {
  margin: 1em 0;
  border: 1px solid #ccc;
}
@media (min-width: 750px) {
  .vertical-tabs {
    padding-block: 0;
    padding-inline: 15em 0;
  }
}
.vertical-tabs-list {
  display: none;
  width: 15em;
  border-block-start: 1px solid #ccc;
  padding: 0;
}
@media (min-width: 750px) {
  .vertical-tabs-list {
    display:block;
    float: inline-start;
    margin-block: -1px;
    margin-inline: -15em 0;
  }
}
.vertical-tab-item {
  list-style: none;
}
.vertical-tabs-pane {
  margin: 0;
  padding: 0;
  border: 0;
  border-block-end: 1px solid #ccc;
}
.vertical-tabs-pane .fieldset-wrapper {
  display: none;
  padding: 0 1em;
}
.vertical-tab-selected .fieldset-wrapper {
  display: block;
}
@media (min-width: 750px) {
  .vertical-tabs-pane {
    display: none;
    border: 0;
    background: transparent;
  }
  /* Show active pane */
  .vertical-tabs-pane.vertical-tab-selected {
    display: block;
    background: transparent;
  }
  .vertical-tabs-pane > legend {
    display: none;
  }
  .vertical-tabs-pane .fieldset-wrapper {
    display: block;
  }
}
/* Layout of each tab */
.vertical-tab-item {
  background: #eee;
  border: 1px solid #ccc;
  border-block-start: 0;
  padding: 0;
  margin: 0;
}
.vertical-tab-link {
  display: block;
  text-decoration: none;
  padding: 0.5em 0.6em;
  color: blue;
  cursor: pointer;
}
.vertical-tab-link span{
  display: block;
}
.vertical-tab-link .fieldset-legend {
  font-weight: bold;
}
.vertical-tab-link:focus strong,
.vertical-tab-link:active strong,
.vertical-tab-link:hover strong,
.vertical-tab-link:focus .fieldset-legend,
.vertical-tab-link:active .fieldset-legend,
.vertical-tab-link:hover .fieldset-legend {
  text-decoration: underline;
}
.vertical-tab-link:hover {
  outline: 1px dotted;
}
.vertical-tab-selected.vertical-tab-item {
  background-color: #fff;
  border-inline-end-width: 0;
}
.vertical-tab-selected strong,
.vertical-tab-selected .fieldset-legend {
  color: #000;
}
.vertical-tabs .vertical-tabs .vertical-tabs-list .summary {
  line-height: normal;
  margin-block-end: 0;
}
/* Styles for legend at smaller screen sizes */
.vertical-tabs-pane > .vertical-tab-link {
  position: relative;
  width: 100%;
  padding-inline-start: 1em;
  padding-inline-end: 1em;
  background: #eee;
}
.vertical-tabs-pane.vertical-tab-selected > .vertical-tab-link {
  background: transparent;
  border-block-end: 1px solid #eee;
}
.vertical-tabs-pane.vertical-tab-selected > .vertical-tab-link .summary {
  display: none;
}
