
/**
 * @file
 * Administration menu.
 *
 * Implementation of Sons of Suckerfish Dropdowns.
 *
 * @see www.htmldog.com/articles/suckerfish
 */

#admin-menu {
  font: normal 11px "Lucida Grande", Verdana, sans-serif;
  left: 0;
  position: absolute;
  text-align: left; /* LTR */
  top: 0;
  width: 100%;
  line-height: 1;
  padding: 0;
  margin: 0;
  z-index: 999;
  background: #2D2D2D; /* Old browsers */
  background: -moz-linear-gradient(#2D2D2D 0%, #171717 100%); /* FF3.6+ */
  background: -webkit-gradient(color-stop(0%, #2D2D2D), color-stop(100%, #171717)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(#2D2D2D 0%, #171717 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(#2D2D2D 0%, #171717 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(#2D2D2D 0%, #171717 100%); /* IE10+ */
  background: linear-gradient(#2D2D2D 0%, #171717 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#2D2D2D', endColorstr='#171717',GradientType=0); /* IE6-9 */
}
[dir="rtl"] #admin-menu {
  text-align: right;
}
#admin-menu-wrapper {
  overflow: hidden;
}

body.admin-menu {
  margin-top: 30px !important;
}

/* Top level items. */
#admin-menu .top-level {
  list-style: none;
  margin: 0;
  padding: 0;
  display: inline-block;
  vertical-align: top;
}
#admin-menu .top-level > li > a,
#admin-menu .top-level > li > span {
  display: none;
}
#admin-menu .top-level > li > ul {
  display: inline-block;
  left: auto;
  width: auto;
  right: auto;
  background: transparent;
}
#admin-menu .top-level > li > ul > li {
  float: left;
  width: auto;
}
#admin-menu-menu.top-level > li > ul > li > a.active-trail {
  border-radius: 10px;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  padding: 4px 10px;
  margin: 5px 2px 4px;
  text-shadow: #333 0 1px 0;
  background: #9F9F9F; /* Old browsers */
  background: -moz-linear-gradient(#9F9F9F 0%, #808080 100%); /* FF3.6+ */
  background: -webkit-gradient(color-stop(0%, #9F9F9F), color-stop(100%, #808080)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(#9F9F9F 0%, #808080 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(#9F9F9F 0%, #808080 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(#9F9F9F 0%, #808080 100%); /* IE10+ */
  background: linear-gradient(#9F9F9F 0%, #808080 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#9F9F9F', endColorstr='#808080',GradientType=0); /* IE6-9 */
}

/* Dropdown lists */
#admin-menu .dropdown {
  line-height: 1.4em;
  list-style: none;
  margin: 0;
  padding: 0;
  z-index: 999;
  display: inline-block;
  position: static;
  background: #202020;
  vertical-align: top;
}
#admin-menu li > a,
#admin-menu li > span {
  background: transparent none;
  border: none;
  color: #EEE;
  font-weight: normal;
  text-align: left; /* LTR */
  text-decoration: none;
}
[dir="rtl"] #admin-menu li > a,
[dir="rtl"] #admin-menu li > span {
  text-align: right;
}
#admin-menu .dropdown li > a,
#admin-menu .dropdown li > span {
  display: block;
  padding: 9px 12px;
}

#admin-menu a.expanded-trail,
#admin-menu span.expanded-trail {
  background: #45454A;
}

#admin-menu .dropdown .admin-menu-tab a {
  border-left: none; /* LTR */
  border-right: 1px solid #52565E; /* LTR */
}
[dir="rtl"] #admin-menu .dropdown .admin-menu-tab a {
  border-left: 1px solid #52565E;
  border-right: none;
}
#admin-menu .dropdown li li a {
  border-right: none; /* LTR */
  border-top: 1px solid #323232;
}
[dir="rtl"] #admin-menu .dropdown li li a {
  border-left: none;
}
#admin-menu .dropdown a:hover {
  text-decoration: underline;
}

/* All dropdown list items */
#admin-menu .dropdown li {
  background-image: none;
  float: left; /* LTR */
  height: 100%;
  list-style-image: none;
  list-style-type: none;
  margin: 0 !important;
  padding: 0;
}
[dir="rtl"] #admin-menu .dropdown li {
  float: right;
}

/* First level items */
#admin-menu .dropdown li li {
  width: 160px; /* Required for Opera */
}
#admin-menu .dropdown li li li {
  filter: Alpha(opacity=100);
  opacity: 1;
}

/* Second-level lists */
/* Note: We must hide sub-lists or scrollbars might appear (display: none is not read by screen readers). */
#admin-menu .dropdown li ul {
  display: none;
  left: -999em; /* LTR */
  line-height: 1.2em;
  margin: 0;
  position: absolute;
  width: 160px;
}
[dir="rtl"] #admin-menu .dropdown li ul {
  left: auto;
  right: -999em;
}

/* Third-and-above-level lists */
#admin-menu .dropdown li li.expandable ul {
  margin: -32px 0 0 160px; /* LTR */
}
[dir="rtl"] #admin-menu .dropdown li li.expandable ul {
  margin-left: 160px;
  margin-right: 0;
}

/* Lists nested under hovered list items */
#admin-menu .dropdown ul.expanded {
  display: block;
  left: auto; /* LTR */
}
[dir="rtl"] #admin-menu .dropdown ul.expanded {
  right: auto;
}

/* Second-and-more-level hovering */
#admin-menu .dropdown li li.expandable > a {
  background: #45454A url(../images/arrow.png) no-repeat 145px center; /* LTR */
}
[dir="rtl"] #admin-menu .dropdown li li.expandable > a {
  background-image: url(../images/arrow-rtl.png);
  background-position: 5px center;
}
#admin-menu .dropdown li li a.expanded-trail {
  background-color: #111;
  border-color: #444;
  color: #EEE;
}

/* Icon menu */
#admin-menu-icon.dropdown {
  display: inline-block;
  background: transparent;
}
#admin-menu-icon li.admin-menu-icon > a {
  padding: 8px 8px 9px;
}
#admin-menu-icon .admin-menu-icon img {
  vertical-align: bottom;
}
/* Add a border when using the default Backdrop logo. */
#admin-menu-icon .admin-menu-icon img[src$="core/misc/favicon.ico"] {
  outline: 1px solid #45454A;
}

/* Extras menu */
#admin-menu-extra {
  float: right; /* LTR */
  direction: rtl; /* LTR */
}
[dir="rtl"] #admin-menu-extra {
  float: left;
  direction: ltr;
}
#admin-menu-extra .dropdown li {
  direction: ltr; /* LTR */
}[dir="rtl"] #admin-menu-extra .dropdown li {
   direction: rtl;
 }

/* Online users */
#admin-menu .dropdown .admin-menu-users a {
  background: transparent url(../images/icon_users.png) 90% center no-repeat;
  padding-right: 22px; /* LTR */
}
[dir="rtl"] #admin-menu .dropdown .admin-menu-users a {
  background-position: 10% center;
  padding-left: 22px;
  padding-right: 0;
}

#admin-menu .dropdown .admin-menu-action a {
  border-left: 1px solid #323232;
  border-right: none;
}
[dir="rtl"] #admin-menu .dropdown .admin-menu-action a {
  border-left: none;
  border-right: 1px solid #323232;
}

/* Search form */
#admin-menu .admin-menu-search .form-item {
  margin: 0;
  padding: 6px;
  width: 92%;
}
#admin-menu .top-level .admin-menu-search {
  width: 140px;
}
#admin-menu .top-level .admin-menu-search .form-item {
  padding: 6px 0 0;
}
#admin-menu .admin-menu-search input {
  background: #fff none center right no-repeat;
  border: none;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 10px;
  font-size: 12px;
  margin: 0;
  outline: none;
  padding: 3px 22px 3px 8px;
  width: 100%;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

#admin-menu .admin-menu-search-results .dropdown {
  display: block !important;
  left: auto !important;
  top: 100%;
}
#admin-menu .admin-menu-search-results,
#admin-menu .admin-menu-search-results li {
  width: 186px;
}

#admin-menu li.active-search-item > a,
#admin-menu li.highlight > a {
  background-color: #0074BD !important;
  color: white !important;
}

/* #210615: Mozilla on Mac fix */
html.js fieldset.collapsible div.fieldset-wrapper {
  overflow: visible;
}

/* Hide the menu on print output. */
@media print {
  #admin-menu {
    display: none !important;
  }
  body.admin-menu {
    margin-top: 0 !important;
  }
}

/**
 * Tweaks permissions, if enabled.
 */
tr.admin-menu-tweak-permissions-processed {
  cursor: pointer;
  cursor: hand;
}
tr.admin-menu-tweak-permissions-processed td.module {
  border-top: 0;
}
