div.horizontal-tabs {
  margin: 0 0 1em 0;
}

.horizontal-tabs ul.horizontal-tabs-list {
  border-right: 0;
  border-left: 1px solid #dedede;
}

/* Layout of each tab */
.horizontal-tabs ul.horizontal-tabs-list li {
  border-right: 0;
  border-left: 1px solid #ccc;
  float: right;
}
