/**
 * @file
 * CSS for the three-three-four layout.
 */

/* Clearfix for all region wrappers. */
.layout--three-three-four-column .l-header:after,
.layout--three-three-four-column .l-top:after,
.layout--three-three-four-column .l-featured:after,
.layout--three-three-four-column .l-messages:after,
.layout--three-three-four-column .l-container:after,
.layout--three-three-four-column .l-triptych:after,
.layout--three-three-four-column .l-footer-columns:after,
.layout--three-three-four-column .l-footer:after {
  content: "";
  display: table;
  clear: both;
}

.layout--three-three-four-column .l-header,
.layout--three-three-four-column .l-top,
.layout--three-three-four-column .l-featured,
.layout--three-three-four-column .l-messages,
.layout--three-three-four-column .l-container,
.layout--three-three-four-column .l-triptych,
.layout--three-three-four-column .l-footer-wrapper {
  box-sizing: border-box;
  width: 100%;
  margin-inline-start: auto;
  margin-inline-end: auto;
}
.layout--three-three-four-column .l-content,
.layout--three-three-four-column .l-sidebar {
  box-sizing: border-box;
  padding: 0 15px;
}
.layout--three-three-four-column .l-footer {
  padding: 35px 0 30px;
}
.layout--three-three-four-column .l-triptych-first,
.layout--three-three-four-column .l-triptych-middle,
.layout--three-three-four-column .l-triptych-last {
  box-sizing: border-box;
  padding: 0 20px 0;
}
.layout--three-three-four-column .l-footer-first-column,
.layout--three-three-four-column .l-footer-second-column,
.layout--three-three-four-column .l-footer-third-column,
.layout--three-three-four-column .l-footer-fourth-column {
  box-sizing: border-box;
  padding: 0 10px;
}

@media all and (min-width: 560px) and (max-width: 850px) {
  .layout--three-three-four-column .l-sidebar-first,
  .layout--three-three-four-column .l-triptych-first,
  .layout--three-three-four-column .l-triptych-middle,
  .layout--three-three-four-column .l-triptych-last,
  .layout--three-three-four-column .l-footer-first-column,
  .layout--three-three-four-column .l-footer-second-column,
  .layout--three-three-four-column .l-footer-third-column,
  .layout--three-three-four-column .l-footer-fourth-column {
    display: inline;
    float: inline-start;
    position: relative;
  }
  .layout--three-three-four-column.layout-two-sidebars .l-sidebar-first {
    width: 49%;
  }
  .layout--three-three-four-column.layout-two-sidebars .l-sidebar-second {
    width: 49%;
    margin-inline-start: 51%;
  }
  .layout--three-three-four-column .l-triptych-first,
  .layout--three-three-four-column .l-triptych-middle,
  .layout--three-three-four-column .l-triptych-last {
    padding: 20px 15px 30px;
    width: 33%;
  }
  .layout--three-three-four-column .l-triptych-middle {
    padding: 20px 5px 30px;
  }
  .layout--three-three-four-column .l-footer-first-column,
  .layout--three-three-four-column .l-footer-second-column {
    box-sizing: border-box;
    padding: 0 10px;
    width: 50%;
  }
  .layout--three-three-four-column .l-footer-third-column,
  .layout--three-three-four-column .l-footer-fourth-column {
    box-sizing: border-box;
    padding: 0 10px;
    width: 50%;
  }
  .layout--three-three-four-column .l-footer-third-column {
    clear: both;
  }
}

@media all and (min-width: 851px) {
  .layout--three-three-four-column .l-content,
  .layout--three-three-four-column .l-sidebar-first,
  .layout--three-three-four-column .l-sidebar-second,
  .layout--three-three-four-column .l-triptych-first,
  .layout--three-three-four-column .l-triptych-middle,
  .layout--three-three-four-column .l-triptych-last,
  .layout--three-three-four-column .l-footer-first-column,
  .layout--three-three-four-column .l-footer-second-column,
  .layout--three-three-four-column .l-footer-third-column,
  .layout--three-three-four-column .l-footer-fourth-column {
    display: inline;
    float: inline-start;
    position: relative;
  }
  .layout--three-three-four-column.layout-two-sidebars .l-content {
    margin-inline-start: 25%;
    margin-inline-end: 25%;
    width: 50%;
  }
  .layout--three-three-four-column.layout-one-sidebar .l-content {
    width: 75%;
  }
  .layout--three-three-four-column.layout-no-sidebars .l-content {
    width: 100%;
  }
  .layout--three-three-four-column.layout-sidebar-first .l-content {
    margin-inline-start: 25%;
    margin-inline-end: 0;
  }
  .layout--three-three-four-column.layout-sidebar-second .l-content {
    margin-inline-end: 25%;
    margin-inline-start: 0;
  }
  .layout--three-three-four-column .l-sidebar-first {
    width: 25%;
    margin-inline-start: -100%;
  }
  .layout--three-three-four-column .l-sidebar-second {
    width: 25%;
    margin-inline-start: -25%;
    clear: none;
  }
  .layout--three-three-four-column .l-triptych-first,
  .layout--three-three-four-column .l-triptych-middle,
  .layout--three-three-four-column .l-triptych-last {
    width: 33%;
  }
  .layout--three-three-four-column .l-footer-first-column,
  .layout--three-three-four-column .l-footer-second-column,
  .layout--three-three-four-column .l-footer-third-column,
  .layout--three-three-four-column .l-footer-fourth-column {
    padding: 0 10px;
    width: 25%;
  }
}
