
/**
 * @file
 * Styles for preview pages.
 */

.node-preview-container {
  background: #d1e8f5;
  background-image: -webkit-linear-gradient(top, #d1e8f5, #d3e8f4);
  background-image: -moz-linear-gradient(top, #d1e8f5, #d3e8f4);
  background-image: -o-linear-gradient(top, #d1e8f5, #d3e8f4);
  background-image: linear-gradient(to bottom, #d1e8f5, #d3e8f4);
  -webkit-box-shadow: 0 1px 3px 1px rgba(0, 0, 0, 0.3333);
  position: fixed;
  z-index: 499;
  width: 100%;
  padding: 10px;
}

.node-preview-container .form-type-select {
  margin-left: 25%;
}

.node-preview-backlink.button {
  text-decoration: none;
}
