
/**
 * @file
 * Styles for administration pages.
 */

/**
 * Revisions overview screen.
 */
.revision-current {
  background: #ffc;
}

.content-type-label {
  font-weight: bold;
}

.content-type-machine-name {
  font-size: smaller;
}

#content-types-list tr.disabled td {
  color: #999;
}
