
/**
 * @file
 * Styles for preview pages.
 */

.node-preview-container {
  background-image: -webkit-linear-gradient(top, #d1e8f5, #d3e8f4);
  background-image: -moz-linear-gradient(top, #d1e8f5, #d3e8f4);
  background-image: -o-linear-gradient(top, #d1e8f5, #d3e8f4);
  background-image: linear-gradient(to bottom, #d1e8f5, #d3e8f4);
  -webkit-box-shadow: 0 1px 3px 1px rgba(0, 0, 0, 0.3333);
  z-index: 999;
  width: 100%;
  padding: 10px;
  overflow: auto;
  position: fixed;
  bottom: 0;
  height: 120px;
  box-shadow: 0px 2px 20px rgba(0,0,0,0.4);
  background: #fafafa;
  font: normal 16px/1.538 "Open Sans", "Lucida Grande", "Lucida Sans Unicode", sans-serif;
}
.page {
  padding-bottom: 120px;
}
.node-preview-backlink {
  text-decoration: none;
  margin: 10px;
}
.node-node-preview-banner-form-left {
  float: left;
}
.node-node-preview-banner-form-right {
  float: right;
}
.preview-button.form-submit {
  border-color: #114a75;
  text-align: center;
  text-transform: uppercase;
  background: #e5e5e6;
  letter-spacing: 0.4px;
  line-height: 43px;
  border: 0;
  padding: 0 25px;
  margin-bottom: 1em;
  margin-right: 1em;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  transition: background-color 0.6s ease 0s, color 0.6s ease 0s;
}
.node-preview-save-button.form-submit {
  border-color: #1766ae;
  background-color: #1766ae;
  clear: both;
  color: #fff;
}
.node-preview-switch-button.form-submit {
  color: #828188;
  background: #fff;
  -webkit-box-shadow: inset 0px 0px 0px 2px #97979e;
  -moz-box-shadow: inset 0px 0px 0px 2px #97979e;
  box-shadow: inset 0px 0px 0px 2px #97979e;
}
.node-preview-display-mode.form-select {
  font-weight: 400;
  border: 2px solid #d0d0d0;
  padding: 10px;
  box-sizing: border-box;
  color: #444b53;
  background: #fff;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  will-change: border-color;
  height: 43px;
}