.path-bulk-update-form .path-type {
  margin-inline-start: 40px;
}
.path-bulk-update-form th .form-checkbox {
  margin-inline-end: 10px;
}
.path-bulk-update-form th .form-checkbox + label {
  font-weight: bold;
}
