
/**
 * @file
 * Admin stylesheet for file module.
 */

/**
 * File upload widget.
 */
.form-managed-file .form-file,
.form-managed-file .form-submit {
  margin: 0;
}
.form-managed-file .progress-disabled {
  display: inline;
  float: none;
}
.form-managed-file div.ajax-progress-bar {
  display: none;
  margin-top: 4px;
  padding: 0;
  width: 28em;
}
.form-managed-file div.ajax-progress-bar .bar {
  margin: 0;
}

/**
 * New styles for image upload with library
 */
a.upload-image-toggle {
  padding-left: 0;
  padding-bottom: 10px;
  padding-right: 1em;
  padding-top: 1em;
  display: inline-block !important;
  border: none;
  text-decoration: underline;
}
a.image-library-toggle {
  display: inline-block;
  padding: 0 1em;
  border-left: 1px solid #CCC;
  border-right: none;
  margin-left: 1em;
}
a.library-selected, a.upload-selected {
  font-weight: bold;
  text-decoration: none;
}
.image-select {
  display: flex;
}
.image-detail {
  border: 1px solid #CCC;
  padding: 10px;
  display: inline-block;
  min-width: 250px;
  font-size: 0.8rem;
}
.image-detail p span{
  width: 120px;
}
.image-library {
  border: 1px solid #CCC;
  padding: 10px;
  display: inline-block;
}
.library-view .views-exposed-form label {
  font-size: 0.8rem;
  font-weight: normal;
}
.field-widget-image-image {
  border: 1px solid #CCC;
  padding: 10px;
}
.image-widget-properties p {
  margin: 0 0.2em;
  font-size: 0.85rem;
}
.image-widget-properties h4 {
  margin: 0;
  margin-top: 5px;
  font-size: 0.9rem;
}
.image-widget-properties {
  border: 1px solid #CCC;
  padding: 5px;
  width: 400px;
}
