
/**
 * Image style configuration pages.
 */
div.image-style-new,
div.image-style-new div {
  display: inline;
}
div.image-style-preview .preview-image-wrapper {
  float: inline-start;
  padding-block-end: 2em;
  text-align: center;
  inset-block-start: 50%;
  width: 48%;
}
div.image-style-preview div.preview-image {
  margin: auto;
  position: relative;
}
div.image-style-preview div.preview-image div.width {
  border: 1px solid #666;
  border-block-start: none;
  height: 2px;
  inset-inline-start: -1px;
  inset-block-end: -6px;
  position: absolute;
  box-sizing: content-box;
}
div.image-style-preview div.preview-image div.width span {
  position: relative;
  inset-block-start: 4px;
}
div.image-style-preview div.preview-image div.height {
  border: 1px solid #666;
  border-inline-start: none;
  position: absolute;
  inset-inline-end: -6px;
  inset-block-start: -1px;
  width: 2px;
  box-sizing: content-box;
}
div.image-style-preview div.preview-image div.height span {
  height: 2em;
  inset-inline-start: 10px;
  margin-block-start: -1em;
  position: absolute;
  inset-block-start: 50%;
}

/**
 * Image anchor element.
 */
table.image-anchor {
  width: auto;
}
table.image-anchor .even,
table.image-anchor .odd {
  background: none;
}
table.image-anchor td {
  border: 1px solid #ccc;
}
