
/**
 * Image upload widget.
 */
.image-preview {
  float: inline-start;
  padding-block: 0 10px;
  padding-inline: 0 10px;
}
div.image-widget-data {
  float: inline-start;
  max-width: 100%;
}
div.image-widget-data .text-field {
  width: auto;
}
