
/**
 * Image upload widget.
 */
.image-preview {
  float: left; /* LTR */
  padding: 0 10px 10px 0; /* LTR */
}
[dir="rtl"] .image-preview {
  float: right;
  padding: 0 0 10px 10px;
}
div.image-widget-data {
  /* float: left; /* LTR */ /* - temporarily disable */
  max-width: 100%;
}
[dir="rtl"] .image-widget-data {
  float: right;
}
div.image-widget-data .text-field {
  width: auto;
}
.image-library-container .backdrop-modal div {

}
.image-library {
  display: flex;
}
.image-library-view {
  border: 1px solid #CCC;
  padding: 10px;
  display: inline-block;
}
.image-library-view p {
  margin: 0;
  line-height: 1.1;
}
.image-library-view .views-exposed-form {
  margin: 0;
  border: 0;
  font-size: 0.9rem;
}
.image-library-view .views-exposed-form input.form-text {
  padding: 5px;
}
.image-library-view .views-exposed-form input.form-submit {
  line-height: 30px;
}
.image-detail {
  border: 1px solid #CCC;
  padding: 10px;
  display: inline-block;
  min-width: 250px;
  font-size: 0.8rem;
  margin-left: 20px;
}
.image-detail p span{
  width: 120px;
}
.image-library-option legend {
  font-size: 16px;
}
.image-library-option fieldset {
  margin-top: 5px;
  padding-top: 2em;
}
.image-library-option .fieldset-legend {
  text-transform: none;
  font-weight: bold;
}
.image-selection-option fieldset {
  margin-top: 5px;
  padding-top: 2em;
}
.image-selection-option .fieldset-legend {
  text-transform: none;
  font-weight: bold;
  font-size: 16px;
}
.image-selection-option input.form-submit {
  line-height: 30px;
  padding: 0 15px;
}
.image-modal-preview {
  display: flex;
}
.preview-cancel {
  display: inline;
  padding-left: 40px;
}
.image-upload, .image-reference, .image-select {
  display: inline;
  font-weight: bold;
}
.image-upload {
  color: #0000cd;
}
.image-upload:hover {
  color: #0000cd;
}
.image-reference:hover {
  color: #0000cd;
}
.image-select:hover {
  color: #0000cd;
}
.image-label {
  font-size: 1.2rem;
  font-weight: bold;
  margin-bottom: 10px;
}
.image-selection-option {
  display: none;
}
.image-library-option {
  display: none;
}
.image-widget {
  margin-top: 10px;
}
