
/* Field display */
.field .field-label {
  font-weight: bold;
}
.field-label-inline .field-label,
.field-label-inline .field-items {
  float: inline-start;
}

/* Form display */
form .field-multiple-table {
  margin: 0;
}
form .field-multiple-table .field-multiple-drag {
  width: 30px;
  padding-inline-end: 0;
}
form .field-multiple-table .field-multiple-drag .tabledrag-handle {
  padding-inline-end: .5em;
}
form input.field-add-more-submit {
  margin: 0;
}
