/**
 * @file
 * Status messages styling.
 */
.messages.status {
  color: light-dark(#234600, #e9eebc);
  background-color: light-dark(#e9eebc, #172717);
}
.messages.status a {
  color: #234600;
}
div.messages.status:before {
  /* @todo Can this be an svg? */
  background-image: url(../../../misc/message-32-ok.png);
  background-color: light-dark(#cfde56, #294729);
}

.messages.warning {
  color: #525252;
  background-color: #faf5c9;
}
.messages.warning a {
  color: #525252;
}
div.messages.warning:before {
  /* @todo Can this be an svg? */
  background-image: url(../../../misc/message-32-warning.png);
  background-color: #fce400;
}

.messages.error {
  color: #9c1d0d;
  background-color: #f9edec;
}
.messages.error a {
  color: #9c1d0d;
}
div.messages.error:before {
  /* @todo Can this be an svg? */
  background-image: url(../../../misc/message-32-error.png);
  background-color: #ee3d23;
}

.messages.info {
  color: #004570;
  background-color: #bdf;
}
.messages.info a {
  color: #004570;
}
div.messages.info:before {
  /* @todo Can this be an svg? */
  background-image: url(../../../misc/message-32-info.png);
  background-color: #0074bd;
}

/* SVG overrides */
div.messages.status:before {
  /* @todo Can this be an svg? */
  background-image: linear-gradient(transparent, transparent), url(../../../misc/message-ok.svg);
}
div.messages.warning:before {
  /* @todo Can this be an svg? */
  background-image: linear-gradient(transparent, transparent), url(../../../misc/message-warning.svg);
}
div.messages.error:before {
  /* @todo Can this be an svg? */
  background-image: linear-gradient(transparent, transparent), url(../../../misc/message-error.svg);
}
div.messages.info:before {
  /* @todo Can this be an svg? */
  background-image: linear-gradient(transparent, transparent), url(../../../misc/message-info.svg);
}

.messages .dismiss:before,
.messages .dismiss:after {
  background: var(--seven-palette__grayscale--55, #999);
}
