/**
 * Override of misc/vertical-tabs.css.
 */
.vertical-tabs {
  position: relative;
  margin: 1em 0;
  border: 1px solid #ccc;
  background: #fff;
}
@media (min-width: 750px) {
  .vertical-tabs {
    padding-block: 0;
    padding-inline: 15em 0;
  }
  .vertical-tabs::before {
    content: '';
    position: absolute;
    inset-inline-start: 0;
    inset-block-start: 0;
    z-index: 0;
    width: 15em;
    height: 100%;
    background: #ccc;
  }
}
.vertical-tabs-list {
  position: relative;
  z-index: 1;
  display: none;
  width: 15em;
  border-block-start: 1px solid #ccc;
  padding: 0;
}
@media (min-width: 750px) {
  .vertical-tabs-list {
    display: block;
    float: inline-start;
    margin-block: -1px;
    margin-inline: -15em 0;
  }
}
.vertical-tab-item {
  list-style: none;
  font-size: 0.923em;
}
.vertical-tabs-pane {
  overflow: hidden;
  margin: 0;
  padding: 0;
  border: 0;
  border-block-end: 1px solid #ccc;
  border-radius: 0;
}
.vertical-tabs-pane:nth-last-child(2) {
  border-block-end: 0;
}
.vertical-tabs-pane .fieldset-wrapper {
  display: none;
  padding: 0 1em;
}
.vertical-tab-selected .fieldset-wrapper {
  display: block;
}
@media (min-width: 750px) {
  .vertical-tabs-panes {
    overflow: hidden;
    width: 100%;
  }
  .vertical-tabs-pane {
    /* Using position and height instead of display because of FF issue. */
    position: absolute;
    inset-inline-start: -9999em;
    height: 0;
    border: 0;
    background: transparent;
  }
  /* Show active pane. */
  .vertical-tabs-pane.vertical-tab-selected {
    position: static;
    height: auto;
    padding: 10px 15px;
    background: transparent;
  }
  .vertical-tabs-pane > legend {
    display: none;
  }
  .vertical-tabs-pane .fieldset-wrapper {
    display: block;
  }
}
/* Layout of each tab. */
.vertical-tab-item {
  border: 1px solid #ccc;
  border-inline-start-width: 0;
  border-block-start-width: 0;
  padding: 0;
  margin: 0;
  background: #eee;
}
/**
 * .vertical-tab-link applies to fieldset legend at small screens and a link in
 * .vertical-tabs-list at larger screen sizes.
 */
.vertical-tab-link {
  display: block;
  text-decoration: none;
  padding: 0.5em 0.6em;
  font-size: 1em;
  cursor: pointer;
  transition:
    background-color 0.3s,
    color 0.3s;
}
.vertical-tab-link span{
  display: block;
}

.vertical-tab-link strong,
.vertical-tab-link .fieldset-legend {
  position: static;
  font-weight: bold;
  color: #0074bd;
  margin: 0;
  padding: 0;
}
@media (min-width: 750px) {
  .vertical-tab-link strong,
  .vertical-tab-link .fieldset-legend {
    font-size: 0.923em;
  }
}
.vertical-tab-link:focus,
.vertical-tab-link:active,
.vertical-tab-link:hover {
  text-decoration: none;
  background: #d5d5d5;
}
.vertical-tab-link .summary {
  font-size: 0.846em;
  text-transform: none;
  color: #666;
  word-wrap: break-word;
}
.vertical-tab-selected.vertical-tab-item {
  background-color: #fff;
  border-inline-end-width: 0;
  border-inline-start-width: 1px;
  box-shadow: 0 5px 5px -5px hsla(0,0%,0%,0.3);
  z-index: 1;
  position: relative;
}
.vertical-tab-selected .vertical-tab-link {
  background: #fff;
  border-inline-start: 4px solid #0074bd;
}
.vertical-tab-selected strong,
.vertical-tab-selected .fieldset-legend {
  color: #000;
}
.vertical-tabs .vertical-tabs .vertical-tabs-list .summary {
  line-height: normal;
  margin-block-end: 0;
}
/* Styles for legend at smaller screen sizes. */
.vertical-tabs-pane > .vertical-tab-link {
  width: 100%;
  box-sizing: border-box;
  padding-inline-start: 1em;
  padding-inline-end: 1em;
  background: #eee;
}
.vertical-tabs-pane.vertical-tab-selected > .vertical-tab-link {
  padding-block-start: 0.7em;
  padding-block-end: 0.7em;
  background: transparent;
  border-block-end: 1px solid #eee;
}
.vertical-tabs-pane.vertical-tab-selected > .vertical-tab-link .summary {
  display: none;
}
