/**
 * @file
 * Styles for administration pages.
 */

/**
 * Menu manage links form.
 */
.menu-operations {
  width: 100px;
}

.menu-enabled {
  width: 70px;
}

.menu-enabled input {
  margin-left:25px;
}

/**
 * Menu listing page.
 */
.menu-name .menu-label {
  font-weight: bold;
}

.menu-name .menu-machine-name {
  font-size: smaller;
}
