/**
 * Permissions page.
 */
#user-admin-permissions .form-item-search {
  display: inline-block;
}
#user-admin-permissions .search-reset {
  line-height: 42px;
  position: relative;
  top: 1px;
}
#user-admin-permissions .table-filter {
  margin: 1em 0;
  padding: 7px 13px;
  border-radius: 4px;
  background-color: #fff;
  border: 2px solid #EAEAEA;
}

/**
 * Permissions matrix, used on permissions page, node type, and other places.
 */
#permissions td.module {
  font-weight: bold;
  background: #dddddd;
}
#permissions td.permission {
  padding-left: 1.5em; /* LTR */
}
#permissions td.permission .permission-warning-description {
  font-size: 0.9em;
  color: #444;
  margin-top: 0.5em;
}
[dir="rtl"] #permissions td.permission {
  padding-left: 0;
  padding-right: 1.5em;
}
#permissions tr.odd .form-item,
#permissions tr.even .form-item {
  white-space: normal;
}
.permissions-matrix {
  overflow-x: auto;
}

/**
 * Roles page.
 */
#user-roles .role-name {
  white-space: nowrap;
}

/**
 * Site-wide account configuration.
 */
#user-admin-settings fieldset .fieldset-description {
  font-size: 0.85em;
  padding-bottom: .5em;
}
#user-admin-settings .form-item-user-password-policy {
  margin-bottom: 0;
}
#user-admin-settings .min-length-wrapper {
  font-size: 0.923em;
}

/**
 * Password toggle.
 */
.password-toggle-wrapper {
  position: relative;
  display: inline-block;
  max-width: 100%;
}
.password-toggle {
  position: absolute;
  top: -2em;
  right: 0; /* LTR */
  font-size: 80%;
}
[dir="rtl"] .password-toggle {
  right: auto;
  left: 0;
}

/**
 * Password strength indicator.
 */
.password-strength-wrapper {
  position: relative;
  display: inline-block;
  max-width: 100%;
}
.password-strength {
  display: block;
  margin-top: 3px;
  position: relative;
}
.password-strength.empty {
  visibility: hidden;
  display: none;
}
.password-strength-title {
  float: left; /* LTR */
}
.password-strength-text {
  padding-left: 5px; /* LTR */
}
[dir="rtl"] .password-strength-title {
  float: right;
}
[dir="rtl"] .password-strength-text {
  padding-left: 0;
  padding-right: 5px;
}
.password-indicator {
  background-color: #EEE;
  height: 3px;
  width: 100%;
  display: block;
  position: absolute;
  top: 0;
  left: 0;
}
.password-strength .indicator {
  height: 100%;
  width: 0;
  background-color: #47C965;
  position: absolute;
  transition: width .2s;
}
.password-strength.weak .indicator {
  background-color: #ff0000;
}
.password-strength.weak .password-strength-text,
form:not(.user-admin-settings) .password-strength-help-text.weak em {
  color: #ff0000;
}
.password-strength.fair .indicator {
  background-color: #FFA500;
}
.password-strength.fair .password-strength-text,
form:not(.user-admin-settings) .password-strength-help-text.fair em {
  color: #FFA500;
}
.password-strength.good .indicator {
  background-color: #4CA64C;
}
.password-strength.good .password-strength-text,
form:not(.user-admin-settings) .password-strength-help-text.good em {
  color: #4CA64C;
}
.password-strength.strong .indicator {
  background-color: #008000;
}
.password-strength.strong .password-strength-text,
form:not(.user-admin-settings) .password-strength-help-text.strong em {
  color: #008000;
}

/**
 * Password confirmation field.
 */
.password-match {
  display: block;
}
.password-match.empty {
  display: none;
}
.password-match.match .password-match-text {
  color: #008000;
}
.password-match.mismatch .password-match-text {
  color: #FF2E0B;
}

/* Generated by user.module but used by profile.module: */
.profile {
  clear: both;
  margin: 1em 0;
}
.profile .user-picture {
  float: right; /* LTR */
  margin: 0 1em 1em 0; /* LTR */
}
[dir="rtl"] .profile .user-picture {
  float: left;
  margin: 0 0 1em 1em;
}
.profile h2 {
  border-bottom: 1px solid #ccc;
}
.profile dl {
  margin: 0 0 1.5em 0;
}
.profile dt {
  margin: 0 0 0.2em 0;
  font-weight: bold;
}
.profile dd {
  margin: 0 0 1em 0;
}
