/**
 * @file
 * Styles for administration pages.
 */

/**
 * Taxonomy term form.
 */
.taxonomy-term-preview {
  background-color: #eee;
}
.taxonomy-term-divider-top {
  border-bottom: none;
}
.taxonomy-term-divider-bottom {
  border-top: 1px dotted #ccc;
}
.taxonomy-term-description {
  margin: 5px 0 20px;
}

/**
 * Indents for tree-structured form.
 */
[dir="ltr"] .form-item .form-checkbox.taxonomy-term-depth-0,
[dir="ltr"] .form-item .form-radio.taxonomy-term-depth-0,
[dir="ltr"] .taxonomy-term-depth-0 {
  margin-left: 0;
}
[dir="ltr"] .form-item .form-checkbox.taxonomy-term-depth-1,
[dir="ltr"] .form-item .form-radio.taxonomy-term-depth-1,
[dir="ltr"] .taxonomy-term-depth-1 {
  margin-left: 1em;
}
[dir="ltr"] .form-item .form-checkbox.taxonomy-term-depth-2,
[dir="ltr"] .form-item .form-radio.taxonomy-term-depth-2,
[dir="ltr"] .taxonomy-term-depth-2 {
  margin-left: 2em;
}
[dir="ltr"] .form-item .form-checkbox.taxonomy-term-depth-3,
[dir="ltr"] .form-item .form-radio.taxonomy-term-depth-3,
[dir="ltr"] .taxonomy-term-depth-3 {
  margin-left: 3em;
}
[dir="ltr"] .form-item .form-checkbox.taxonomy-term-depth-4,
[dir="ltr"] .form-item .form-radio.taxonomy-term-depth-4,
[dir="ltr"] .taxonomy-term-depth-4 {
  margin-left: 4em;
}
[dir="ltr"] .form-item .form-checkbox.taxonomy-term-depth-5,
[dir="ltr"] .form-item .form-radio.taxonomy-term-depth-5,
[dir="ltr"] .taxonomy-term-depth-5 {
  margin-left: 5em;
}

[dir="rtl"] .form-item .form-checkbox.taxonomy-term-depth-0,
[dir="rtl"] .form-item .form-radio.taxonomy-term-depth-0,
[dir="rtl"] .taxonomy-term-depth-0 {
  margin-right: 0;
}
[dir="rtl"] .form-item .form-checkbox.taxonomy-term-depth-1,
[dir="rtl"] .form-item .form-radio.taxonomy-term-depth-1,
[dir="rtl"] .taxonomy-term-depth-1 {
  margin-right: 1em;
}
[dir="rtl"] .form-item .form-checkbox.taxonomy-term-depth-2,
[dir="rtl"] .form-item .form-radio.taxonomy-term-depth-2,
[dir="rtl"] .taxonomy-term-depth-2 {
  margin-right: 2em;
}
[dir="rtl"] .form-item .form-checkbox.taxonomy-term-depth-3,
[dir="rtl"] .form-item .form-radio.taxonomy-term-depth-3,
[dir="rtl"] .taxonomy-term-depth-3 {
  margin-right: 3em;
}
[dir="rtl"] .form-item .form-checkbox.taxonomy-term-depth-4,
[dir="rtl"] .form-item .form-radio.taxonomy-term-depth-4,
[dir="rtl"] .taxonomy-term-depth-4 {
  margin-right: 4em;
}
[dir="rtl"] .form-item .form-checkbox.taxonomy-term-depth-5,
[dir="rtl"] .form-item .form-radio.taxonomy-term-depth-5,
[dir="rtl"] .taxonomy-term-depth-5 {
  margin-right: 5em;
}

/**
 * Vocabulary listing page.
 */
.vocabulary-name .vocabulary-label {
  font-weight: bold;
}
.vocabulary-name .vocabulary-machine-name {
  font-size: smaller;
}
.vocabulary-term-count {
  text-align: right;
}
