/**
 * @file
 * Styles for Dashboard layouts and blocks.
 */

/* Shrink and align the manage links to the right */
.dashboard-more-link {
  text-align: right;
  font-size: 0.923em;
}

.dashboard-welcome-step {
  width: 31%;
  float: left;
  padding: 0 15px 5px;
}
