/**
 * @file
 * Styles for Dashboard layouts and blocks.
 */

/* Shrink and align the manage links to the right */
.dashboard-more-link {
  text-align: end;
  font-size: 0.923em;
}

/**
 * External link indicators.
 */
span.dashboard-external {
  display: inline-block;
  margin-inline-start: .33em;
  width: 1em;
  height: 1em;
  background: transparent url(../../../misc/external-link-blue-32.png) bottom left;
  background-size: 1em;
}
