/**
 * @file
 * Admin styles for the Database Logging module.
 */
.dblog-filter-form .form-item-type,
.dblog-filter-form .form-item-severity {
  float: left; /* LTR */
  margin: .1em .9em .1em .1em; /* LTR */
  padding: 0 .8em .8em 0; /* LTR */
  /**
   * In Opera 9, DOM elements with the property of "overflow: auto"
   * will partially hide its contents with unnecessary scrollbars when
   * its immediate child is floated without an explicit width set.
   */
  width: 15em;
}
[dir="rtl"] .dblog-filter-form .form-item-type,
[dir="rtl"] .dblog-filter-form .form-item-severity {
  float: right;
  margin: .1em .1em .1em .9em;
  padding: 0 0 .8em .8em;
}
.dblog-filter-form .form-type-select select {
  width: 100%;
}
.dblog-filter-form .form-actions {
  float: left; /* LTR */
  padding: 3ex 0 0 1em; /* LTR */
}
[dir="rtl"] .dblog-filter-form .form-actions {
  float: right;
  padding: 3ex 1em 0 0;
}

.admin-dblog .icon {
  width: 30px;
}
.admin-dblog .icon:before {
  content: "";
  display: block;
  width: 32px;
  height: 32px;
  border-radius: 16px;
  background: #ccc url(../../../misc/message-32-ok.png) no-repeat center center;
  background-size: 25px;
}
.admin-dblog .dblog-info .icon:before {
  background: #0074bd url(../../../misc/message-32-info.png) no-repeat center center;
  background-size: 25px;
}
.admin-dblog .dblog-debug .icon:before,
.admin-dblog .dblog-warning .icon:before {
  background: #FCE400 url(../../../misc/message-32-warning.png) no-repeat center center;
  background-size: 25px;
}

.admin-dblog .dblog-error.odd:not(:hover) {
  background-color: #FFE0E0;
}
.admin-dblog .dblog-error.odd:not(:hover) .active {
  background-color: #F3CECE;
}
.admin-dblog .dblog-error.even:not(:hover) {
  background: #ffc9c9;
}
.admin-dblog .dblog-error.even:not(:hover) .active {
  background: #eeb9b9;
}
.admin-dblog .dblog-error .icon:before,
.admin-dblog .dblog-critical .icon:before,
.admin-dblog .dblog-alert .icon:before,
.admin-dblog .dblog-emergency .icon:before {
  background: #EE3D23 url(../../../misc/message-32-error.png) no-repeat center center;
  background-size: 25px;
}

.dblog-clear-log-form {
  margin-top: 2em;
}
