/**
 * @file
 * Styling for the book module.
 */

/**
 * Book navigation.
 */
.book-navigation .menu {
  padding-block-end: 0;
  padding-block-start: 1em;
}
.book-navigation .book-pager {
  margin: 0;
  overflow: auto;
  padding: 0.5em 0;
}
.book-pager li {
  display: inline-block;
  list-style-type: none;
  vertical-align: top;
}
.book-pager .previous {
  float: inline-start;
  text-align: start;
  width: 45%;
}
.book-pager .up {
  text-align: center;
  width: 8%;
}
.book-pager .next {
  float: inline-end;
  text-align: end;
  width: 45%;
}
