/**
 * @file
 * Breadcrumb styles.
 */
.breadcrumb {
  overflow: hidden;
  margin: 1em 0;
}

.breadcrumb ol,
.breadcrumb li {
  list-style: none;
  margin: 0;
  padding: 0;
}

.breadcrumb li {
  position: relative;
  padding: 0 1em;
  float: left; /* LTR */
}

[dir="rtl"] .breadcrumb li {
  float: right;
}

.breadcrumb li a,
.breadcrumb li span {
  position: relative;
  z-index: 1;
  display: block;
  margin: 0 -1em;
  padding: 0.5em 1.4em;
  text-decoration: none;
}

.breadcrumb li:after {
  content: '';
  position: absolute;
  top: 50%;
  right: 0; /* LTR */
  width: 2em;
  height: 2em;
  border: 0.0625rem solid #20252e;
  border-width: 0.125rem 0.125rem 0 0;
  transform:
    translate(0, -50%)
    rotate(45deg); /* LTR */
}

[dir="rtl"] .breadcrumb li:after {
  left: 0;
  right: auto;
  transform:
    translate(0, -50%)
    rotate(225deg);
}

.breadcrumb li:last-child:after {
  display: none;
}
