/**
 * @file
 * Card listing view on the default home page.
 */

.l-top .block-hero + .block-views-promoted-cards-block {
  margin-top: -2rem; /* Negative top margin collapses spacing under header */
}
.block-views-promoted-cards-block {
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.block-views-promoted-cards-block .views-view-grid-cols-3 {
  grid-template-columns: repeat(1, 1fr);
}
.view-promoted-cards .views-grid-box {
  border: none;
}

.view-promoted-cards .views-grid-box {
  border-radius: 0.25rem;
  margin: 1rem 0;
  padding: 0 0 1rem 0;
  background-color: #ffffff;
  box-shadow:
    0.25em 0.5em 1em #ddd,
    0 0 0.25em #dddddd88;
}
.view-promoted-cards h2 {
  font-size: 1.25rem;
  font-weight: bold;
}
.view-promoted-cards .views-field {
  padding: 0 1rem;
}
.view-promoted-cards .views-field-field-image {
  padding: 0;
}
@media (min-width: 48em) {
  .block-views-promoted-cards-block .views-view-grid-cols-3 {
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem;
  }
}
