/**
 * @file
 * Site Footer styles.
 */
.l-footer {
  margin: 1.5rem 0 0;
}

.l-footer a {
  text-decoration: none;
}

.l-footer a:hover,
.l-footer a:focus {
  text-decoration: underline;
}

/**
 * Footer menu styles
 */
.l-footer .menu,
.l-footer .menu li {
  list-style: none;
  margin: 0;
  padding: 0;
}

.l-footer .menu:after {
  /* Clearfix menus */
  content: '';
  display: table;
  clear: both;
}

.l-footer .menu > li {
  float: left;
}

[dir="rtl"] .l-footer .menu > li {
  float: right;
}

.l-footer .menu a {
  display: block;
  padding: 0 1rem;
}

/**
 * Powered by Backdrop Block
 */
.l-footer .block-system-powered-by .block-content span {
  display: block;
  padding-top: 0.5em;
  width: 30px;
}
.l-footer .block-system-powered-by .block-content .backdrop-mark {
  position: relative;
  display: block;
  text-indent: -9999em;
  overflow: hidden;
  width: 100%;
  height: 0;
  padding: 100% 0 0;
}
.l-footer .block-system-powered-by .block-content .backdrop-mark:before,
.l-footer .block-system-powered-by .block-content .backdrop-mark:after {
  content: '';
  position: absolute;
  bottom: 0;
  right: 0;
  display: block;
  width: 50%;
  height: 50%;
}
.l-footer .block-system-powered-by .block-content .backdrop-mark:before {
  z-index: 1;
}
.l-footer .block-system-powered-by .block-content .backdrop-mark:after {
  z-index: 2;
  -webkit-transform: rotate(45deg) scaleY(1.5);
          transform: rotate(45deg) scaleY(1.5);
  -webkit-transform-origin: bottom left;
          transform-origin: bottom left;
}
.l-footer .block-system-powered-by .block-content .backdrop-mark.color-black,
.l-footer .block-system-powered-by .block-content .backdrop-mark.color-black:after,
.l-footer .block-system-powered-by .block-content .backdrop-mark.color-white:before {
  background: #000;
}
.l-footer .block-system-powered-by .block-content .backdrop-mark.color-white,
.l-footer .block-system-powered-by .block-content .backdrop-mark.color-white:after,
.l-footer .block-system-powered-by .block-content .backdrop-mark.color-black:before {
  background: #fff;
}

.drop-lounging {
  position: relative;
  /* To make Drop larger/smaller, adjust the width below. */
  width: 7em;
}

.drop-lounging:before {
  content: '';
  position: absolute;
  top: -0.75em;
  left: 50%;
  left: calc(50% + 1.25em);
  display: none; /* Default hidden unless certain criteria are met */
  box-sizing: content-box;
  width: 100%;
  height: 0;
  margin: 0;
  padding: 0 0 52%;
  transform: translate(-50%, -82%);
  background: url("../../images/drop-lounging.png") no-repeat;
  background-size: 100% auto;
}

.l-footer .block:first-child .drop-lounging:before {
  display: block;
}
