/**
 * @file
 * Breakpoint-specific responsive menu styles.
 *
 * Switch to desktop layout.
 * These transform the menu tree from collapsible to desktop (navbar +
 * dropdowns).
 */

/* Begin section that shouldn't be edited */
.js .menu-dropdown ul {
  position: absolute;
  width: 12rem;
  inset-block-start: 1em;
}

.js .menu-dropdown li,
.js .menu-dropdown a.has-submenu.highlighted {
  border-block-end: none;
}

.js .menu-dropdown ul li a,
.js .menu-dropdown ul li li a{
  padding-inline-start: 1.25rem;
}

.js .menu-dropdown > li {
  float: inline-start;
}

.menu-dropdown ul li {
  float: none;
}

.menu-dropdown a {
  white-space: nowrap;
}

.menu-dropdown ul a {
  white-space: normal;
}
/* End section that should not be edited */

.js .menu-dropdown ul ul {
  border-inline-start: 3px solid #20252e;
}

.js .menu-dropdown > li {
  border-block-end: 0;
}
.js .menu-dropdown > li.last {
  padding-block-end: 0;
}

.js .menu-dropdown li.has-children > a {
  padding-inline-end: 1.75rem;
}

.menu-dropdown a span.sub-arrow {
  inset-block-start: 50%;
  margin-block-start: -0.125rem;
  inset-inline-end: 0.75rem;
  width: 0;
  height: 0;
  border-width: 0.25rem;
  border-style: dashed;
  border-block-start-style: solid;
  border-color: transparent;
  border-block-start-color: #ffffff;
  background: transparent;
}

.menu-dropdown a.highlighted span.sub-arrow::before {
  display: none;
}

.menu-dropdown li {
  border-block-start: 0;
}

.menu-dropdown ul {
  padding: 0.3125rem 0;
}

.menu-dropdown ul .has-children > a {
  padding-inline-end: 1.25rem;
}

.menu-dropdown ul a span.sub-arrow {
  inset-inline-end: 0.5rem;
  inset-block-start: 50%;
  margin-block-start: -0.3125rem;
  border-width: 0.3125rem;
  border-style: dashed;
  border-inline-start-style: solid;
  border-color: transparent;
  border-inline-start-color: #ffffff;
}

.menu-dropdown span.scroll-up,
.menu-dropdown span.scroll-down {
  position: absolute;
  display: none;
  visibility: hidden;
  overflow: hidden;
  height: 1.25rem;
}

.menu-dropdown span.scroll-up-arrow,
.menu-dropdown span.scroll-down-arrow {
  position: absolute;
  inset-block-start: 0;
  inset-inline-start: 50%;
  margin-inline-start: -0.375rem;
  width: 0;
  height: 0;
  overflow: hidden;
  border-width: 0.375rem;
  border-style: dashed;
  border-block-end-style: solid;
  border-color: transparent;
  border-block-end-color: #ffffff;
}

.menu-dropdown span.scroll-down-arrow {
  inset-block-start: 0.5rem;
  border-style: dashed;
  border-block-start-style: solid;
  border-color: transparent;
  border-block-start-color: #ffffff;
}

.menu-dropdown > li > ul::before {
  inset-inline-end: 1.875rem;
}

.menu-dropdown > li > ul:after {
  inset-inline-end: 1.9375rem;
}
