/**
 * @file
 * Responsive menu styles.
 */
.menu-dropdown {
  position: relative;
}

.js .menu-dropdown li,
.js .menu-dropdown a.has-submenu.highlighted {
  float: none;
  border-block-end: 1px solid #bbbbbb;
}

.js .menu-dropdown li.last {
  border-block-end: 0;
}
.js .menu-dropdown > li.last {
  padding-block-end: 1px;
}

.js .menu-dropdown ul li a {
  padding-inline-start: 3em;
}

.js .menu-dropdown ul li li a {
  padding-inline-start: 5em;
}

.js .menu-dropdown li.has-children > a {
  /* Make room for the toggle button (sub indicator) */
  padding-inline-end: 3.625rem;
}

.menu-dropdown a span.sub-arrow {
  position: absolute;
  inset-block-start: 1rem;
  margin-block-start: -1.0625rem;
  inset-inline-start: auto;
  inset-inline-end: 0;
  width: 3.5rem;
  height: 3.5rem;
  overflow: hidden;
  border: 1px solid #bbbbbb;
  background: #333333;
  font: normal 1.384615rem/2.125rem monospace;
  text-align: center;
  text-shadow: none;
}

.menu-dropdown span.sub-arrow::before {
  display: block;
  content: '+';
  margin-block-start: 0.5625rem;
}

.menu-dropdown a.highlighted span.sub-arrow::before {
  display: block;
  content: '–';
}

@media (min-width: 34em) {
  .menu-dropdown a span.sub-arrow {
    width: 3.625rem;
    height: 3.625rem;
  }
}
