/**
 * @file
 * Styling for node content.
 */

/* Display "Draft" watermark on unpublished content. */
.node[data-status]:before {
  content: attr(data-status);
  position: absolute;
  z-index: -1;
  width: 100%;
  text-align: center;
  text-transform: uppercase;
  font-size: 10em;
  font-weight: bold;
  opacity: 0.5;
  color: #dee2ea;
}
