/**
 * @file
 * Progress Bar
 *
 * See system module
 */
.progress {
  font-weight: bold;
}

.progress .bar {
  margin-block: 0 .5em;
  margin-inline: 0 0.2em;
  border: 2px solid #e5e5e6;
  border-radius: 3px;
  overflow: hidden;
}

.progress .filled {
  position: relative;
  overflow: hidden;
  transition: width .4s;
  will-change: width;
}

/* Progress Bar Animation */
.progress .filled:after {
  content: "";
  position: absolute;
  display: block;
  width: 0.75em;
  height: 100%;
  transform: skewX(-20deg);
  border-inline-start: 2em solid #3c4350;
  border-inline-end: 0.75em solid #3c4350;
  animation: progressGradient 1.5s infinite;
  animation-fill-mode: forwards;
  animation-timing-function: linear;
  transition: width .4s;
  will-change: left;
}

@keyframes progressGradient {
  0% {
    inset-inline-start: -15%;
    border-inline-start-width: 2em;
    border-inline-end-width: 0.75em;
  }
  100% {
    inset-inline-start: 100%;
    border-inline-start-width: 1.75em;
    border-inline-end-width: 0.5em;
  }
}

