/**
 * @file
 * Tabledrag styling.
 */

table.stick-header {
  transform: translate(2px, 0);
}

.tabledrag-toggle-weight {
  display: inline-block;
  padding-block: 0.6em;
  padding-inline: 0.8em 0;
}

.tabledrag-processed {
  margin-inline-start: 3rem;
  width: auto;
  width: calc(100% - 3rem);
}

.tabledrag-processed .draggable > * {
  position: relative;
}

.draggable a.tabledrag-handle {
  position: absolute;
  inset-block-start: 0;
  inset-inline-start: 0;
  display: block;
  width: 3rem;
  height: 100%;
  margin-block: 0;
  margin-inline: -0.0625em 0; /* Nudge past the starting border */
  padding: 0;
  background: #ebeff7;
  transform: translate(-100%, 0); /* LTR */
}

[dir="rtl"] .draggable a.tabledrag-handle {
  transform: translate(100%, 0);
}

.draggable {
  position: relative;
}

.draggable.drag td:after {
  content: '';
  position: absolute;
  inset-block-start: 0;
  inset-inline-start: 0;
  width: 100%;
  height: 100%;
  background: #dee2ea;
  opacity: 0.3;
}

tr.draggable .handle {
  position: absolute;
  inset-block-start: 50%;
  inset-inline-start: 50%;
  display: block;
  width: 0.25em;
  height: 1.5em;
  margin: 0;
  padding: 0;
  transform: translate(-50%, -50%) scale(0.5, 0.5);
  background: #333333;
  text-decoration: none;
}
a.tabledrag-handle .handle {
  margin: 0;
  padding: 0;
}
tr.draggable .handle::before,
tr.draggable .handle:after,
tr.draggable .handle .handle-inner::before,
tr.draggable .handle .handle-inner:after {
  content: '';
  position: absolute;
  display: block;
}
tr.draggable .handle::before {
  inset-block-start: 0;
  inset-inline-start: 0;
  transform: translate(-0.25em, -0.375em);
  border: 0.375em solid transparent;
  border-block-end-color: #333333;
  border-block-start: 0;
}
tr.draggable .handle:after {
  inset-block-end: 0;
  inset-inline-start: 0;
  transform: translate(-0.25em, 0.375em);
  border: 0.375em solid transparent;
  border-block-start-color: #333333;
  border-block-end: 0;
}
tr.draggable .handle .handle-inner {
  position: absolute;
  inset-block-start: 50%;
  inset-inline-start: 50%;
  display: block;
  width: 1.5em;
  height: 0.25em;
  transform: translate(-50%, -50%);
  background: #333333;
}
tr.draggable .handle .handle-inner::before {
  inset-block-start: 0;
  inset-inline-end: 0;
  transform: translate(0.375em, -0.25em);
  border: 0.375em solid transparent;
  border-inline-start-color: #333333;
  border-inline-end: 0;
}

tr.draggable .handle .handle-inner:after {
  inset-block-start: 0;
  inset-inline-start: 0;
  transform: translate(-0.375em, -0.25em);
  border: 0.375em solid transparent;
  border-inline-end-color: #333333;
  border-inline-start: 0;
}

abbr.tabledrag-changed {
  position: absolute;
  inset-block-start: 0;
  inset-inline-start: -0.375em;
  display: block;
  width: 0.375em;
  height: 100%;
  text-indent: -9999em;
  z-index: 0;
  background: #fce400;
}

.tabledrag-changed[title] {
  border: 0;
}

.messages .tabledrag-changed {
  display: none;
}
