/**
 * Styles used when configuring a text format.
 */
#filter-order .filter-info {
  padding-block: 0;
  padding-inline: 3em 0;
  white-space: normal;
}
#filter-order .disabled-row,
#filter-order .disabled-row .description {
  color: #ccc;
}
#filter-order .form-submit {
  margin: 0;
}
input[name="allowed_html"] {
  width: 100%;
}
