/**
 * @file
 * Right-to-Left styling for the Book module.
 */

/**
 * @file
 * RTL styling for the book module.
 */

/**
 * Book navigation.
 */
.book-pager .previous {
  float: right;
  text-align: right;
}
.book-pager .next {
  float: left;
  text-align: left;
}
